
.wpt-new-footer-cart.footer-cart-temp-1 {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.wpt-new-footer-cart.footer-cart-temp-2 {
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.wpt-new-footer-cart.footer-cart-temp-3 {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.wpt-new-footer-cart.footer-cart-temp-4 {
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.wpt-new-footer-cart.footer-cart-temp-5 {
    background-image: linear-gradient(to right top, #ffba39, #f1c624, #dfd30b, #c7df00, #a8eb12);
}
.wpt-new-footer-cart.footer-cart-temp-6 {
    background-image: linear-gradient(to right top, #ff3939, #ff6f00, #f09d00, #d4c600, #a8eb12);
}
.wpt-new-footer-cart.footer-cart-temp-7 {
    background-image: linear-gradient(to right top, #ff3939, #ff6f00, #f09d00, #d4c600, #a8eb12);
}
.wpt-new-footer-cart.footer-cart-temp-8 {
    background-image: linear-gradient(to right top, #a9ff39, #00f4a4, #00dbfd, #00b7ff, #6284ff);
}
.wpt-new-footer-cart.footer-cart-temp-9 {
    background-image: linear-gradient(to right top, #a9ff39, #c8ed0b, #e0d900, #f2c500, #ffb100);
}
.wpt-new-footer-cart.footer-cart-temp-10 {
    background-image: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.wpt-new-footer-cart.footer-cart-temp-11 {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.wpt-new-footer-cart.footer-cart-temp-12 {
    background-image: linear-gradient(to right top, #2a0537, #820543, #c4432b, #d69500, #a8eb12);
}
.wpt-new-footer-cart.footer-cart-temp-13 {
    background-image: linear-gradient(to right top, #2a0537, #5f0048, #960048, #c70038, #eb2412);
}
.wpt-new-footer-cart.footer-cart-temp-14 {
    background-image: linear-gradient(to right top, #d3ff00, #ead000, #f69f00, #f66a00, #eb2412);
}
.wpt-new-footer-cart.footer-cart-temp-15 {
    background-image: linear-gradient(to right top, #d3ff00, #ffa700, #ff003e, #ff009b, #2412eb);
}
.wpt-new-footer-cart.footer-cart-temp-16 {
    background-image: linear-gradient(to right top, #d3ff00, #a2fe52, #73fa7d, #44f4a0, #12ebbb);
}
.wpt-new-footer-cart.footer-cart-temp-16 {
    background-image: linear-gradient(to right top, #d3ff00, #b3fb00, #8ff600, #65f113, #12eb24);
}
.wpt-new-footer-cart.footer-cart-temp-17 {
    background-image: linear-gradient(to right top, #e800ff, #ff0083, #ff6300, #d4ba00, #12eb24);
}
.wpt-new-footer-cart.footer-cart-temp-18 {
    background-image: linear-gradient(to right top, #ff000c, #f20109, #e60207, #d90305, #cd0303);
}
.wpt-new-footer-cart.footer-cart-temp-19 {
    background-image: linear-gradient(to right top, #00ff6e, #2de956, #3bd33e, #41bd24, #42a800);
}
.wpt-new-footer-cart.footer-cart-temp-20 {
    background-image: linear-gradient(to right top, #009cff, #007dee, #005eda, #003ec3, #0016a8);
}
.wpt-new-footer-cart.footer-cart-temp-20 {
    background-image: linear-gradient(to right top, #0093b8, #007cbf, #0063c3, #0045bd, #0016a8);
}
