:root {
  --wpt_primary: #0093b8;
  --wpt_primary_deep: #007694;
  --wpt_primary_deepest: #02485a;
  --wpt_primary_light: #0a7f9c;

  --wpt_secondary: #edf7f8;
  --wpt_secondary_deep: #ceeaed;
  --wpt_secondary_light: #d0d1d1;

  --wpt_link: var(--wpt_primary);
  --wpt_link_hover: var(--wpt_primary_deepest);
  --wpt_link_deep: #003542;
  --wpt_link_light: #047c9b;
  

  --wpt_text: #646464;
  --wpt_text_deep: #000000;
  --wpt_text_light: #404040;  

  --wpt_warning: #ffeb3b;
  --wpt_danger: #d00;
  --wpt_cart_highliter: #00b17a;

  --wpt_off_white: #14141414;
  --wpt_deep_off_white: #cbcbcb;
  --wpt_white: #ffffff;
  --wpt_gray: gray;
  --wpt_black: #000000;

  --wpt_review: #ffc107;
  --wpt_thead_bg: var(--wpt_primary);
  --wpt_thead_text: var(--wpt_white);

  --wpt_product_title: var(--wpt_primary_deepest);
  --wpt_product_title_hover: var(--wpt_primary);
  
  --wpt_table_bg: var(--wpt_white);
  --wpt_table_tr_odd: transparent;
  --wpt_table_tr_boder: #0000000d;

  --wpt_btn_color: var(--wpt_white);
  --wpt_btn_color_hover: var(--wpt_primary);

  --wpt_btn_bg: var(--wpt_primary);
  --wpt_btn_bg_hover: transparent;
  
  --wpt_sorted_head_bg: rgba(0, 0, 0, 0.18);
  --wpt_sorted_head_text: inherit;
  --wpt_sorted_td_bg: rgba(0, 0, 0, 0.03);
}

/*******Check Box and Radio Button Style Start Here*******/
div.wpt-wrap input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

div.wpt-wrap input[type=checkbox]+label {
	position: relative;
	cursor: pointer;
	padding: 0;
}



/********** STYLE FOR A RADIO BUTTON --------------- */
div.wpt-wrap input[type=radio] {
	position: absolute;
	opacity: 0;
}

div.wpt-wrap input[type=radio]+label {
	position: relative;
	cursor: pointer;
	padding: 0;
}

div.wpt-wrap input[type=radio]+label:before {
	border: 1px solid #bbbbbb;
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	width: 24px;
	height: 24px;
	background: #e6e6e6;
	border-radius: 50%;
}

div.wpt-wrap input[type=radio]:hover+label:before {
	background: #ccc;
}

div.wpt-wrap input[type=radio]:checked+label:before {
	background: #5cb85c;
	border-color: #5cb85c;
}

div.wpt-wrap input[type=radio]:disabled+label {
	color: #b8b8b8;
	cursor: auto;
}

div.wpt-wrap input[type=radio]:disabled+label:before {
	box-shadow: none;
	background: #ddd;
}

div.wpt-wrap input[type=radio]:checked+label:after {
	content: 'â—';
	color: #fff;
	top: 0px;
	font-size: 20px;
	font-weight: bold;
	left: 6.5px;
	top: -0.5px;
	position: absolute;
}
/*******Check Box and Radio Button Style End Here*******/


/**TEMPLATE**/
.wpt-wrap a,
.wpt-wrap a:hover {
  text-decoration: none !important;
}
.wpt-wrap table {
    font-size: 16px;
}
.wpt-wrap,
.wpt-wrap>div,
.wpt-wrap>div>div,
.wpt-wrap table,
.wpt-wrap table thead th,
/* .wpt-wrap table tbody td div:not('.wp-audio-shortcode *'), */
.wpt-wrap table tbody tr,
.wpt-wrap table tbody td {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
  /* td.inner-available.td_or_cell, */
  div.inner-available.td_or_cell {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.wpt-wrap .wpt_table_head, .wpt-wrap .wpt_table_head>th {
    padding: 11px 10px;
    margin: 0;
}

body.wpt_table_body .wpt-wrap table tbody tr th,
body.wpt_table_body .wpt-wrap table tbody tr td {
  border-spacing: 1px;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.wpt-wrap table tbody tr th:first-child,
.wpt-wrap table tbody tr td:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.wpt-wrap table tbody tr th:last-child,
.wpt-wrap table tbody tr td:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.wpt-wrap th.wpt_description, .wpt-wrap td.wpt_description {
  min-width: 350px;
  white-space: inherit;
}
.wpt-wrap tr.wpt-row,
tr.wpt-row>td>*{
    padding: 0;
    margin: 0;
}
.wpt-wrap tr.wpt-row>td{
    padding: 10px;
    margin: 0;
}

body.wpt_table_body .wpt-wrap table thead tr,
body.wpt_table_body .wpt-wrap table thead th {
  color: #fff;
  border-top: none;
  border-bottom: none !important;
}
.wpt-wrap table thead th {
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.wpt-wrap table.wpt-tbl thead {
    border-bottom: 1px solid #ffffff;
}
.wpt-wrap table tbody tr.spacer td {
    padding: 0 !important;
    height: 3px;
    border-radius: 0 !important;
    background: transparent !important;
  }

.wp-block-button__link {
    color: #fff !important; 
}

/*Pricing*/
span.wpt_product_price ins {
  font-size: 16px;
  line-height: 18px;
}

span.wpt_product_price .amount {
  color: black;
  font-weight: normal;
}

.wpt_product_price del .amount {
  color: var(--wpt_gray);
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
/*Add to Cart*/
tr.product_type_simple .item_inside_cell.wpt_action, tr.product_type_simple .td_or_cell.wpt_action>div {
  display: flex;
  flex-direction: row;
  flex-wrap: initial;
  align-items: center;
  justify-content: start;
  gap: 4px;
}
tr.stock_status_outofstock.backorders_no.product_type_simple .item_inside_cell.wpt_action, 
tr.stock_status_outofstock.backorders_no.product_type_simple .td_or_cell.wpt_action>div {
  flex-wrap: wrap;
  gap: 10px;
}

.item_inside_cell.wpt_action, .td_or_cell.wpt_action>div {
  background: transparent;
  width: 100%;
}
a.button.wpt_woo_add_cart_button{
  position: relative;
  display: inline-block;
}

.wpt-wrap .wpt_add-request-quote-button,
.wpt-wrap .wpt_quick_view .caqv-open-modal,
tr.visible_row.wpt_row td a.button,
tr.visible_row.wpt_row td a.wpt_woo_add_cart_button,
tr.visible_row.wpt_row .col_inside_tag.action a
.wpt-wrap table tbody tr .button.add_to_cart_button,
.wpt-wrap table tbody tr .button.single_add_to_cart_button,
/* button.single_add_to_cart_button.button.alt, */
.wpt-wrap table tbody tr .button.add_to_cart_button.adding,
.wpt-wrap table tbody tr .button.add_to_cart_button.alt.wc-variation-selection-needed,
.wpt-wrap table tbody tr .button.add_to_cart_button.adding.wc-variation-selection-needed{
  padding: 10px 11px;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 16px;
  cursor: pointer;
  text-transform: none;
  letter-spacing: 0px;
  box-shadow: none;
  opacity: 1; /* !important*/
  position: relative;
}
tr.visible_row.wpt_row td a.wpt_woo_add_cart_button.disabled{
  opacity: 1;
}

.wpt-wrap tr.wpt_table_header_row.wpt_table_head th {
    white-space: nowrap;
  }
.wpt-wrap table tbody th .content span,
.wpt-wrap table tbody td .content span {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 15px;
  padding-top: 15px;
}


.wpt-wrap table tbody tr:not(.spacer) {
    border-radius: 0;
    overflow: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .wpt-wrap table tbody tr:not(.spacer):hover {
    -webkit-box-shadow: 0px -1px 0px 0px #0000000f;
    box-shadow: 0px -1px 0px 0px #0000000f;
  }


  

.wpt-wrap table tbody tr:last-child,
.wpt-wrap table tbody tr:last-child:hover {
  border-bottom: none !important;
  box-shadow: unset;
}
div.td_or_cell.no-inner.wpt_message input.message {
  width: 100%;
}
table.wpt-message-box-table {
  width: 295px;
}
table.wpt-message-box-table, table.wpt-message-box-table tr, table.wpt-message-box-table td, table.wpt-message-box-table th {
  padding: 0;
  margin: 0;
}

table.wpt-message-box-table td input {
  padding: 10px;
  min-width: 150px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  height: 37px;
  margin: 0;
  box-shadow: unset;
  max-width: 225px;
  background-color: var(--wpt_white);
  border: 1px solid var(--wpt_off_white);
  text-align: left;
}

/*This green signal, when added to cart*/
/* tr.wpt-row.wpt-added-to-cart>td:last-child::after, */
tr.wpt-row.wpt-added-to-cart>td:first-child:before {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  height: 100%;
}
tr.wpt-row.wpt-added-to-cart>td:last-child::after {
  left: unset;
  right: 0;
}
.instance_search_wrapper input.instance_search_input {
  margin: 0;
}
/*Others*/
.wpt-wrap tbody tr td .music_title {
    font-size: 16px;
    font-weight: 500;
  }
  .wpt-wrap .custom_table .wpt_row td img {
    border-radius: 3px;
  }

.wpt-wrap table#wpt_table.wpt_product_table a.added_to_cart.wc-forward {
  font-size: 12px;
  padding: 2px 5px;
  font-weight: normal;
  background: transparent;
  text-decoration: none;
  letter-spacing: 2px;
}
/*Checkbox*/
.all_check_header_footer.all_check_header>span label {
  display: flex;
  column-gap: 10px;
}
div.wpt-wrap.wpt-wrap input[type=checkbox]+label:before {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border-radius: 1px;
  font-size: 18px;
  line-height: 18px;
}
  
div.wpt-wrap.wpt-wrap input[type=checkbox]:checked+label:after {
  content: '\2713';
  top: 3px;
  font-size: 15px;
  font-weight: bold;
  left: 5px;
  position: absolute;
  line-height: 18px;
  width: 18px;
  height: 18px;
}
/* div.wpt-wrap.wpt-wrap tr th input[type=checkbox]:checked+label:after,
div.wpt-wrap.wpt-wrap span input[type=checkbox]:checked+label:after{
  left: 5px;
} */
div.wpt-wrap.wpt-wrap tr th input[type=checkbox]+label:after {
  font-size: 17px !important;
  line-height: 17px !important;
}

div.wpt-wrap.wpt-wrap tr.product_type_grouped input[type=checkbox]+label,
div.wpt-wrap.wpt-wrap tr.product_type_external input[type=checkbox]+label,
div.wpt-wrap.wpt-wrap tr.disabled input[type=checkbox]+label,
div.wpt-wrap.wpt-wrap tr.stock_status_outofstock input[type=checkbox]+label{
  opacity: .25;
}
.wpt-wrap th.wpt_check label {
    margin-left: -1px;
}
/*Pagination*/
.wpt-wrap .wpt_table_pagination span.page-numbers.current,
.wpt-wrap .wpt_table_pagination a.page-numbers.current {
  color: #ffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
}
.wpt-wrap .wpt_table_pagination a.page-numbers, 
.wpt-wrap .wpt_table_pagination span.page-numbers {
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .1s;
  margin: 0px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  border-radius: 2px;
  line-height: 17px;
}

/*Checkbox*/
.wpt-wrap .all_check_header_footer {
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  font-family: inherit;
  margin: 0;
  flex-wrap: wrap;
  gap: 10px;
}
.wpt-wrap .td_or_cell.wpt_check {
  /* display: table-cell !important */
}  

.wpt-wrap input[type=checkbox]+label, .wpt-wrap input[type=radio]+label {
  margin: 0 0 0 0;
}

.wpt_table_body .wpt-wrap .wpt_action form.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: start;
}
.wpt_table_body .wpt-wrap .wpt_action form.variations_form.cart {

    flex-wrap: nowrap;
    flex-direction: column;
    flex-basis: 100%;
}
.wpt_action form.variations_form.cart .single_variation_wrap,
.wpt_action form.variations_form.cart .single_variation_wrap .woocommerce-variation.single_variation{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  order: 3;
}
.wpt_action form.variations_form.cart .single_variation_wrap .woocommerce-variation-add-to-cart.variations_button {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: start;
  order: 1;
}
.wpt_action form.variations_form.cart table.variations, 
.wpt_action form.variations_form.cart table.variations tr, 
.wpt_action form.variations_form.cart table.variations td,
.wpt_action form.variations_form.cart table.variations tr th {
  padding: 4px;
  margin: 0;
  background: transparent;
}

.wpt_action form.variations_form.cart table.variations select {
  min-width: 160px;
}
  /* product title  */
body.wpt_table_body .wpt-wrap table tbody tr.wpt_row>td a.wpt_product_title_in_td {
    font-weight: 400;
    text-decoration: none;
    font-size: 17px;
    line-height: 19px;
    background: transparent;
    margin: 0;
    box-shadow: none;
    min-width: 250px;
    display: block;
}
  
  /* product description  */
  body.wpt_table_body .wpt-wrap table tbody tr.wpt_row>td .product_description {
    font-weight: 400;
    text-decoration: none !important;
    font-size: 16px;
    background: transparent;
    margin: 0;
  }


/*----- Quantity ---------*/
.wpt-wrap .wpt_quantity .quantity {
  display: flex;
}
.wpt-wrap .qib-button-wrapper button.qib-button {
  padding: 0;
  text-align: center;
}

.qib-button-wrapper .quantity input.input-text.qty.text {
  width: 3rem;
}
.wpt-wrap .wpt-tbl input[type=number]::-webkit-inner-spin-button,
.wpt-wrap .wpt-tbl input[type=number]::-webkit-outer-spin-button {
  opacity: 0.7;
}

.wpt-wrap .qib-button-wrapper {
  display: flex !important;
  height: 37px;
  float: unset;
  margin: 0;
  flex-wrap: nowrap;
  gap: 0;
}
.wpt-wrap .qib-button-wrapper div.quantity.wqpmb_quantity{
  height: 37px;
}
.wpt_action input.input-text.qty.text,
.wpt-wrap .qib-button-wrapper .quantity input.input-text.qty.text,
.wpt-wrap .wpt_quantity input.input-text.qty.text,
.wpt-wrap .wpt_quick_qty input.input-text.qty.text{
  padding: 0;
  text-align: center;
  min-width: 25px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  height: 37px;
  margin: 0;
  box-shadow: unset;
  max-width: 55px;
}
.wpt-wrap .qib-button-wrapper .quantity input.input-text.qty.text{
  border-radius: 0;
}
body.wpt_table_body .wpt-wrap .qib-button-wrapper .minus.qib-button,
body.wpt_table_body .wpt-wrap .qib-button-wrapper .plus.qib-button {
  font-size: 18px;
  line-height:18px;
  height: 37px;
  font-weight: normal;
}
body.wpt_table_body .wpt-wrap .qib-button-wrapper .minus.qib-button{
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 0 none;
}
body.wpt_table_body .wpt-wrap .qib-button-wrapper .plus.qib-button{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 0 none;
}
/*Mini Cart*/
.wpt-wrap div.tables_cart_message_box div.widget_shopping_cart_content li a.remove::before {
  font-size: 24px;
  border-radius: 25px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
  
}