/* *,* *, * * *{
    color: white !important;
    background-color: black !important;
} */
/* body:not(.wp-default-content-wrapper) #wpcontent {
    padding-left: 0;
} */
body.wpt-zero-body #wpcontent {
    padding-left: 0;
}
body.tracker-added.allow-tracker-body #wpbody-content {
    display: none;
}
.wpt_wrap .fieldwrap,.wpt_wrap .fieldwrap form, #wpt-main-configuration-form{
    width: 100%;
    display: block;
}
body .wpt-header, body .wpt-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.429;
    color: #6b625a;
}
.wpt-header {
    padding: 25px 30px;
    margin-bottom: 40px;
    background: #ffffff;
    display: flow-root;
    /* flex-basis: 100%; */
}
.wpt-header.wpt-clearfix.topbar-fixed-on-scroll {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;
    box-shadow: 0 4px 10px #0000001a;
}
@media (max-width: 779px) {
    .wpt-header.wpt-clearfix.topbar-fixed-on-scroll {
        top: 0;
    }
}
.topbar-fixed-on-scroll-main-element{
    margin-top: 200px;
}
.wpt-clearfix:before, .wpt-clearfix:after {
    display: table;
    content: " ";
}

.wpt-logo-wrapper-area {
    display: flex;
    gap: 0 8px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.wpt-header.wpt-clearfix {}

.wpt-main-title-secondary {
    padding-left: 9px;
    border-left: 1px solid #80808057;
}
body.already-added-tracker .wpt-main-title.wpt-main-title-secondary {
    padding-right: 25px;
    border-right: 1px solid #6868681f;
}
.wpt-main-title h2.wpt-ntitle {
    font-size: 25px;
    font-weight: normal;
    color: #4c4c4c;
    padding: 0;
    margin: 0px 0;
}
.wpt-main-title.wpt-main-title-secondary h2.wpt-ntitle {
    color: #ababab;
    font-weight: 100;
}
body.already-added-tracker .wpt-main-title.wpt-main-title-secondary h2.wpt-ntitle {
    color: #ababab;
}
.wpt-logo-area {}

.wpt-logo-area img.wpt-brand-logo {
    height: 39px;
}
.header-button-wrapper {
    display: flex;
    gap: 10px 20px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
}

a.wpt-button i, button.wpt-button i {
    font-size: 112%;
    margin-right: 10px;
}



/* section part start here  */
.wpt-section-panel {
    background: white;
    margin: 40px 0;
    -webkit-box-shadow: 1px 1px 8px 0 rgba(170, 157, 137, 0.14);
    box-shadow: 1px 1px 8px 0 rgba(170, 157, 137, 0.14);
}
.wpt-section-panel.no-background{
    background: transparent !important;

    -webkit-box-shadow: none;
    box-shadow: none;
}
table.wpt-my-table tr td label {
    text-align: left;
    line-height: 1.3;
    font-weight: bold;
    color: #092329;
    text-shadow: none;
    font-size: 14px;
}

/* section part end here  */

/* table style start here  */
.wpt-content table {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

.wpt-my-table tr>th.wpt-inside {
    background: url('../images/brand/black-small-logo.png') no-repeat 95% center;
    background-size: auto 40px;
}
.wpt-my-table > thead > tr > th {
    padding: 0 30px;
}
.wpt-my-table > tbody > tr > td {
    padding: 0 30px;
}
.wpt-my-table > thead > tr > th:first-child, 
.wpt-my-table > tbody > tr > td:first-child {
    width: 67%;
}
.wpt-my-table th, .wpt-my-table td {
    vertical-align: top;
}
.wpt-my-table thead > tr > th,
.wpt-my-table tbody > tr > th {
    text-align: left;
}
.wpt-my-table > thead > tr > th:first-child, 
.wpt-my-table > tbody > tr > td:first-child {
    width: 67%;
}

.wpt-my-table > thead > tr > th:last-child, 
.wpt-my-table > tbody > tr > td:last-child {
    background-color: #f6f6f6;
    /* background-color: #fbfaf9; */
}

.wpt_tab_content.tab-content .wpt-my-table > thead > tr > th:last-child,
.wpt_tab_content.tab-content .wpt-my-table > tbody > tr > td:last-child {
    display: none;
}
/* .wpt-my-table > thead > tr:hover > th:last-child, */
.wpt-my-table > tbody > tr:hover > td:last-child {
    background-color: #fdfdfd;
}
table.wpt-my-table thead tr h3 {
    font-size: 22px;
    font-weight: 100;
}
table.wpt-my-table h4.section-divider-title {
    font-size: 18px;
    font-weight: 100;
    color: #838383;
}
table.wpt-my-table tr.divider-row>td {
    padding-top: 20px;
    border-top: 1px solid rgba(219, 219, 219, 0.522);
    /* border-bottom: 1px solid rgba(219, 219, 219, 0.522); */
    padding-bottom: 20px;
}
table.wpt-my-table tr td, table.wpt-my-table tr th, .wpt-my-table > thead > tr > th {
    padding: 0 30px;
}
.wpt-my-table thead > tr div.wpt-table-header-inside {
    padding: 30px 0;
    border-bottom: 2px solid rgba(219, 219, 219, 0.522);
}
.wpt-my-table thead > tr div.wpt-table-header-right-side {
    padding: 30px 0;
}
table.wpt-my-table tbody tr th, table.wpt-my-table tbody tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}
table.wpt-my-table tbody tr:first-child th, table.wpt-my-table tbody tr:first-child td {
    padding-top: 20px;
}
table.wpt-my-table tbody>tr.extra-divider td,
table.wpt-my-table tbody tr:last-child td {
    padding-bottom: 20px;
}
/* table style end here  */


/* terms setting and edit part custom start here */
table.wpt-my-table table tr th,
table.wpt-my-table table tr td{
    width: 50%;
}
table.wpt-my-table table tr th label,
table.wpt-my-table table tr td label {
    font-weight: normal;
    color: #092329c7;
}
/* terms setting and edit part custom end here */

.wpt-licnse-form .license-module-parent {
    margin: 0 !important;
}
.wpt-licnse-form>h2{display: none;}
.wpt-license-input-box {
    margin-bottom: 20px;
}

/* common element  */

label, .wpt-label {
display: block;
font-size: 15px;
font-family: "Open Sans", "Helvetica Neue", sans-serif;
color: #291C09;
font-weight: 600;
margin-bottom: 7px;
}

body.wpt-zero-body h1,body.wpt-zero-body h2,body.wpt-zero-body  h3,body.wpt-zero-body  h4, 
body.wpt-zero-body h5, body.wpt-zero-body h6,body.wpt-zero-body .wrap h1 {
color: #291c09;
font-family: "Open Sans", Arial, sans-serif;
font-weight: normal;
line-height: 1.313;
padding: 0;
margin: 0;
border: 0;
}

a.wpt-button, button.wpt-button {
    padding: 11px 19px 12px 18px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.023em;
    border: none;
    border-radius: 0;
    color: #fff;
    background-color: #607D8B;
    text-decoration: none;
}

a.wpt-button:hover, button.wpt-button:hover {
    background-color: #4CAF50;
}
a.wpt-button.reverse, button.wpt-button.reverse {
    background-color: #4CAF50;
}
a.wpt-button.reverse:hover, button.wpt-button.reverse:hover {
    background-color: #607D8B;
}
a.wpt-button.reset {
    background: #e3e3e3;
    color: #747272;
}
a.wpt-button.reset:hover {
    background: #ebebeb;
    color: #3e3a3a;
}
.wpt-btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
    padding: 11px 19px 12px 18px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #4CAF50;
    white-space: nowrap;
}
.wpt-btn strong{
    font-weight: 800;
}
.wpt-btn.round {
    border-radius: 22px;
}
.wpt-btn.wpt-btn-small {
    padding: 9px 18px 9px 18px;
    font-weight: normal;
    text-transform: none;
}
.wpt-btn.wpt-btn-tiny {
    padding: 8px 16px 8px 16px;
    font-weight: normal;
    text-transform: none;
}
.wpt-btn.reset {
    background-color: #9E9E9E;
}
.wpt-btn:hover {
    color: white;
    background-color: #607D8B;
}
.wpt-btn.wpt-has-icon{
    padding: 0 30px 0 0;
}
.wpt-btn.wpt-btn-tiny.wpt-has-icon {
    padding: 0 8px 0 0;
}
.wpt-btn span {
    display: inline-block;
    text-align: center;
    width: 46px;
    padding: 14px 0;
    margin-right: 14px;
    border-radius: 4px 0 0 4px;
    background: #00000042;
}

.wpt-btn.wpt-btn-tiny span {
    margin-right: 6px;
    border-radius: 3px 0 0 3px;
}
.wpt-btn.round span {
    border-radius: 22px 0 0 22px;
}
.wpt-btn.wpt-btn-small span {
    padding: 10px 0;
    width: 40px;
    font-weight: bold;
}
.wpt-btn.wpt-btn-tiny span {
    padding: 8px 0;
    width: 32px;
    font-weight: bold;
}
.wpt-section-panel.no-background.wpt-full-form-submit-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}

.wpt-section-panel.no-background.wpt-full-form-submit-wrapper>button {
    min-width: max-content;
}
.wpt-content .ua_input_number, .wpt-content .ua_input_select {
    width: 70%;
    max-width: 400px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    padding: 4px 10px;
    height: 38px;
    min-width: 90px;
    box-shadow: none;
    color: #716269;
}
/* wrapper section start here  */
.wrap.wpt_wrap.wpt-content {
    margin: 0 10px;
}
.wpt-important-link-area {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.wpt-form-control select {
    width: 100%;
}
span#footer-thankyou.wpt-footer-thankyou a>i {
    color: #FF9800;
}
span#footer-thankyou.wpt-footer-thankyou a>i:before {
    margin-left: 0;
    margin-right: 0;
    background: white;
    padding: 2px;
}
/* inside table design  */
.wpt-content table .wpt_each_terms_header {
    margin: 0;
    padding: 6px;
    background: #607d8b26;
    color: #000;
    text-align: right;
    cursor: move;
}
.wpt-content table .wpt_each_terms table {
    background: #fefefe;
    margin-bottom: 25px;
}
i.wpt-optional {
    font-weight: normal;
    margin: 0 5px;
    font-size: 95%;
    color: gray;
}

/* ********************************
Screen and devicewise Custom CSS
******************************** */
@media (min-width: 768px) {
    .wrap.wpt_wrap.wpt-content {
        margin: 0 20px;
    }
    .wpt-header {
        
    }
}

@media (min-width: 992px) {
    .wpt-main-title-secondary {
        padding-left: 25px;
    }
    .wpt-logo-wrapper-area {
        gap: 0 25px;
    }

    .wrap.wpt_wrap.wpt-content {
        margin: 0 30px;
    }
    .wpt-header {
        padding: 20px 30px;
    }
}

@media (min-width: 1200px) {
    .header-button-wrapper {
        justify-content: flex-end;
        margin-top: 0;
    }
    .wrap.wpt_wrap.wpt-content {
        margin: 0 40px;
    }
    .wpt-header {
        padding: 27px 40px;
    }
    form#wpt-main-configuration-form #stick_on_scroll-on>strong {
        font-size: 12px;
        letter-spacing: 2px;
        width: 38px;
    }
    table.wpt-my-table tbody>tr.extra-divider td,
    table.wpt-my-table tbody tr:last-child td {
        padding-bottom: 40px;
    }
    .wpt-form-control select {
        width: 100%;
    }
}
@media (max-width: 782px) {
    .auto-fold #wpcontent {
        padding-left: 0;
    }
    .wpt-main-title h2.wpt-ntitle {
        font-size: 15px;
    }
    .wpt-logo-area img.wpt-brand-logo {
        height: 27px;
    }

    a.wpt-button, button.wpt-button {
        padding: 7px 14px 7px 9px;
    }
    .wpt-btn span {
        padding: 11px 0;
    }
    .wpt-btn.wpt-has-icon {
        padding: 0 18px 0 0;
    }

    .wpt-my-table > thead > tr > th:last-child, .wpt-my-table > tbody > tr > td:last-child {
        display: none !important;
        overflow: hidden;
    }
    .wpt-my-table > thead > tr > th:first-child, .wpt-my-table > tbody > tr > td:first-child {
        width: 83%;
    }
    .form-field input[type="text"], .form-field input[type="password"], .form-field input[type="email"], .form-field input[type="number"], .form-field input[type="search"], .form-field input[type="tel"], .form-field input[type="url"], .form-field textarea {
        width: 100%;
    }

    form#wpt-main-configuration-form #stick_on_scroll-on>strong {
        display: none;
    }
}
/* ********************************
Device and Screen wise CSS end Here
******************************** */


/* Element design  Start here */

/*******For Radio Button And Checkbox***********/
.wpt-section-panel .switch {
    position: relative;
    display: inline-block;
    width: 115px;
    height: 36px;
}

.wpt-section-panel .switch input {
    display: none;
}

.wpt-section-panel .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #bdbdbd;
}
.wpt-section-panel .switch.reverse .slider {
    border: 1px solid #3c973f;
}
.wpt-section-panel .slider:before {
    position: absolute;
    /* content: ""; */
    height: 18px;
    width: 24px;
    left: 10px;
    bottom: 5px;
    background-color: #ede9e9;
    -webkit-transition: .4s;
    transition: .4s;
    content: '\e811';
    font-family: "wptfontelo";
    text-align: center;
    padding-top: 6px !important;
    font-size: 10px;
    color: white;
}
.wpt-section-panel .switch.reverse .slider:before {
    background-color: #3c973f;
}

.wpt-section-panel input:checked+.slider {
    background-color: #ffffff;
    border: 1px solid #3c973f;
}
.wpt-section-panel .switch.reverse input:checked+.slider {
    background-color: #fff;
    border: 1px solid #d1d1d1;
}

.wpt-section-panel input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.wpt-section-panel input:checked+.slider:before {
    -webkit-transform: translateX(73px);
    -ms-transform: translateX(73px);
    transform: translateX(73px);
    background: #4CAF50;
}
.wpt-section-panel .switch.reverse .slider:before {
    -webkit-transform: translateX(73px);
    -ms-transform: translateX(73px);
    transform: translateX(73px);
}
.wpt-section-panel .switch.reverse input:checked+.slider:before {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    background: #d1d1d1;
}



.wpt-section-panel .on,
.wpt-section-panel .off {
    color: #000;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}
.wpt-section-panel .off {
    color: #646464;
}
.wpt-section-panel .on {
    display: none;
}
.wpt-section-panel .switch.reverse .on {
    display: block;
}
.wpt-section-panel .switch.reverse .off {
    display: none;
}
.wpt-section-panel .off {
    font-weight: bold;
    left: 60%;
}

.wpt-section-panel .on {}

.wpt-section-panel input:checked+.slider .on {
    display: block;
}

.wpt-section-panel input:checked+.slider .off {
    display: none;
}

.wpt-section-panel .switch.reverse input:checked+.slider .on {
    display: none;
}

.wpt-section-panel .switch.reverse input:checked+.slider .off {
    display: block;
}
/*--------- END --------*/

/* Rounded sliders */
.wpt-section-panel .slider.round {
  border-radius: 20px;
}

.wpt-section-panel .slider.round:before {
  border-radius: 50%;
}


/* Element design  end here */

/*Common WP*/
.notice {
    margin-right: 40px;
}
#update-nag, .update-nag, .notice {
    margin: 20px 0 0 40px;
}

/* Bootstrap */
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.container,.container-fluid{margin-right:auto;margin-left:auto}.row{margin-right:-15px;margin-left:-15px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.container{width:750px}.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.container{width:970px}.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.container{width:1170px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}
/* recommendation area  */
/*compatible*/
tr.col-lg-4, tr.col-md-4 {
    float: unset;
}
/*compatible*/

#wpt-recomendation-area .ca-reuire-plugin-notice.anwwhere-notice {
    border: 1px solid white;
    margin: 10px 0;
    background: rgb(255 255 255 / 3%);
}
#wpt-recomendation-area .ca-reuire-plugin-notice a.ca-button {
    background: #4caf50;
    border-color: #38823b;
    text-transform: uppercase !important;
    padding: 6px 10px !important;
    border-left: 27px solid #38823b;
    position: relative;
}
#wpt-recomendation-area .install.ca-reuire-plugin-notice a.ca-button {
    background: #ff4200;
    border-color: #ff4200;
    border-left-color:#ce3a07;
}
#wpt-recomendation-area .ca-reuire-plugin-notice a.ca-button:hover {
    background: #9C27B0;
    border-color: #7c1b8c;
    text-transform: uppercase !important;
    padding: 6px 10px !important;
    border-left: 27px solid #7c1b8c;
    position: relative;
}
#wpt-recomendation-area .ca-reuire-plugin-notice a.ca-button:before {
    content: "☀";
    position: absolute;
    top: 3px;
    left: -20px;
    color: #ffffff;
}
#wpt-recomendation-area .anwwhere-notice.anywhere-required-plugin {
    justify-content: space-between;
}
#wpt-recomendation-area p.ca-require-plugin-msg {
    font-size: 15px;
}
small.wpt-small-title {
    font-size: 17px;
    color: #9f9f9f;
    font-weight: normal;
    white-space: nowrap;
}
@media screen and (min-width: 680px) {
    div#wpt-recomendation-area .ca-notice.ca-reuire-plugin-notice.anwwhere-notice {
        background: transparent no-repeat 10px center;
        background-size: 85px auto;
        padding-left: 108px;
    }
    div#wpt-recomendation-area.wpt-section-panel .ca-notice.ca-reuire-plugin-notice.anwwhere-notice {
        background: #ffffff no-repeat 12px 15px;
        background-size: 55px auto;
        padding-left: 78px;
        box-shadow: -4px 0px 15px #00000024;
        margin-bottom: 20px;
        padding-top: 12px;
        padding-bottom: 18px;
    }
    div#wpt-recomendation-area .ca-notice.ca-reuire-plugin-notice.anwwhere-notice[data-notice_id='woo-product-table']{
        background-image: url('../images/products/woo-product-table.png');
    }

    div#wpt-recomendation-area .ca-notice.ca-reuire-plugin-notice.anwwhere-notice[data-notice_id='product-sync-master-sheet']{
        background-image: url('../images/products/product-sync-master-sheet.png');
    }
    div#wpt-recomendation-area .ca-notice.ca-reuire-plugin-notice.anwwhere-notice[data-notice_id='woo-min-max-quantity-step-control-single']{
        background-image: url('../images/products/woo-min-max-quantity-step-control-single.png');
    }
    div#wpt-recomendation-area .ca-notice.ca-reuire-plugin-notice.anwwhere-notice[data-notice_id='wc-quantity-plus-minus-button']{
        background-image: url('../images/products/wc-quantity-plus-minus-button.png');
    }
    div#wpt-recomendation-area .ca-notice.ca-reuire-plugin-notice.anwwhere-notice[data-notice_id='ca-quick-view']{
        background-image: url('../images/products/ca-quick-view.png');
    }
    div#wpt-recomendation-area .ca-notice.ca-reuire-plugin-notice.anwwhere-notice[data-notice_id='ultraaddons-elementor-lite']{
        background-image: url('../images/products/ultraaddons-elementor-lite.png');
    }
}