/*
All Template in One File
Inluded Template List:
Default Template - default
Green Template - green
Blue Template - blue
*/




/********************** Template: green************************************/
.green_table{
	position: relative;
	border-collapse: collapse;
	background: white;
	width: 100%;
	margin: 0 auto;
}
.green_table thead .wpt_table_header_row th{
	height: 50px;
	color: #fff;
	background: #00b20b;
}
.green_table td,
.green_table th {
	padding: 10px;
}
.green_table tbody tr td{
	border: 1px solid #e1e1e1;
}
.green_table .wpt_row td img{
        height: auto;
} 
.green_table tbody tr{
	transition: all .5s;
}

.green_table tbody tr:hover{
	background: #f7faff;
}
.green_table tbody tr a.button{
	display: inline-block;
    padding: 10px;
    background: #00b20b;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}
table#wpt_table.wpt_product_table.green_table thead>tr>th.this_column_sorted {
    background-color: rgb(3, 130, 10) !important;
}
/********************** Template: green End************************************/


/********************** Template: blue************************************/

.blue_table{
	position: relative;
	border-collapse: collapse;
	background: white;
	width: 100%;
	margin: 0 auto;
}
.blue_table thead .wpt_table_header_row th{
	height: 50px;
	color: #fff;
	background: #0824a5;
}
.blue_table td,
.blue_table th {
	padding: 10px;
}
.blue_table tbody tr td{
	border: 1px solid #e1e1e1;
}
.blue_table .wpt_row td img{
        height: auto;
} 
.blue_table tbody tr{
	transition: all .5s;
}

.blue_table tbody tr:hover{
	background: #f7faff;
}
.blue_table tbody tr a.button{
	display: inline-block;
    padding: 10px;
    background: #0824a5;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}

table#wpt_table.wpt_product_table.blue_table thead>tr>th.this_column_sorted {
    background-color: rgb(40, 76, 241) !important;
}

/********************** Template: blue End************************************/




/*******************************End of Business Style***************************/
.business_table{
	position: relative;
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.business_table thead{
	border-bottom: 2px solid #36304a;
}
.business_table thead .wpt_table_header_row th{
	height: 50px;
	color: #36304a;
	background: #F8F8F8;
}
.business_table td,
.business_table th {
	padding: 10px;
}
.business_table tbody tr td{
	border: 1px solid #F6F6F6;
}
.business_table .wpt_row td img{
        height: auto;
} 
.business_table tbody tr{
	transition: all .5s;
}
.business_table .tr_bg_1{
	background: #FDFDFD;
	padding: 10px;
}
.business_table .tr_bg_2{
	background: #FBFBFB;
	padding: 10px;
}
.business_table tbody tr:hover{
	background: #f7faff;
}
.business_table tbody tr a.button{
	display: inline-block;
    padding: 10px;
    background: #36304a;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}
table#wpt_table.wpt_product_table.business_table thead>tr>th.this_column_sorted {
    background-color: rgb(245, 245, 245) !important;
}


/*******************************End of Business Style end ***************************/




/********************** Template: custom ************************************/

.custom_table{
	position: relative;
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.custom_table thead .wpt_table_header_row th{
	padding: 17px;
	color: #fff;
}
.custom_table td,
.custom_table th {
	padding: 10px;
}
.custom_table tbody tr td{
	border: 1px solid #ffffff;
}
.custom_table .wpt_row td img{
	height: auto;
	margin: 0 auto;
} 
.custom_table tbody tr{
	transition: all .5s;
}
.custom_table tbody tr a.button,
.custom_table tbody tr a.button.adding,
.custom_table tbody tr a.button.alt.wc-variation-selection-needed,
.custom_table tbody tr a.button.adding.wc-variation-selection-needed,
.custom_table tbody tr a.button.disabled,.custom_table tbody tr a.button.alt.disabled{
    padding: 8px 9px;
    background: #ff7f57;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    font-weight: bold;
}
.wpt_action form.cart .quantity {
    display: inline-block;
}
.wpt_action form.cart span.wcmmq_prefix {
    display: inline-block;
    float: none;
}
table.custom_table tbody td a.wpt_product_title_in_td,
table.custom_table tbody td span.wpt_product_title_in_td,
table.custom_table tbody td a
{
	color: #021d33;
	font-weight: bold;
}

@media only screen and (min-width: 992px) {
    div.wpt_for_product_desc,div.wpt_for_product_action,div.wpt_for_thumbs_desc.wpt_thumbnails,div.wpt_custom_cf_tax{display: none !important;}
}

table.custom_table tbody tr:nth-child(2n+2) td input{
	background: #fff;
}
@media only screen and (min-width: 1170px) {
	table.custom_table tbody .wpt_product_title {
		max-width: 450px;
	}
}
/*for hover of default template*/
table#wpt_table.wpt_product_table.custom_table thead>tr>th.this_column_sorted {
	background-color: #0a7f9c;
}



/*Customize for Quantity Collumn*/
table.wpt_product_table.business_table .wpt_quantity {
    padding: 0 !important;
}
table.wpt_product_table.business_table tbody tr .wpt_quantity>div.quantity input[type='number']{
    color: #000000;
    padding: 6px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgb(255, 255, 255);
    font-weight: bold;
}

/*Add to Cart Button Style*/
table.wpt_product_table.business_table span.wpt_product_price>a.button.add_to_cart_button {
    background: rgb(183, 183, 183);
    display: inline-block;
    padding: 1px 8px;
    border-radius: 2px;
    border: 1px solid #989898;
    color: #ffffff;
    font-weight: normal;
}
table.wpt_product_table.business_table tr:hover span.wpt_product_price>a.button.add_to_cart_button {
    background: rgba(255, 255, 255, 0.54);
    border: 1px solid #c5c5c5;
    color: #000000;
}
table.wpt_product_table.business_table span.wpt_product_price>a.button.add_to_cart_button.added {
    background: rgb(230, 230, 230);
    display: inline-block;
    padding: 2px 3px;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    color: #c5c5c5;
}

/*Masic class Style. for colunm on Mouse Over. Manage by jQuery*/
div.wpt_product_table_wrapper.business_wrapper table.wpt_product_table.business_table tbody tr .wpt_masic_column{
   background: rgb(255, 255, 255);
   /* rgba(154, 154, 154, 0.02) */
}

/*Business Templatte New Style for Border */
div#wpt_table_wrapper.business_wrapper {
    border-radius: 17px;
    overflow: hidden;
    background: rgb(245, 245, 245);
    border: 1px solid rgba(97, 97, 97, 0.5);
}
/*Business Template New Style for Table Head*/
div#wpt_table_wrapper.wpt_product_table_wrapper.business_wrapper table#wpt_table.wpt_product_table.business_table thead tr.wpt_table_header_row.wpt_table_head th {
    color: black;
}



/* for shop Icon*/
/*For Shop Icon*/
table.add_cart_only_icon tr .wpt_action a.button:before {
    content: "\e01d";    
    z-index: 99999;
    margin: 11px;
    font-family: WooCommerce;
    font-size: initial;
    padding: 0 9px;
}
table.add_cart_only_icon tr .wpt_action a.button{
    font-size: 0 !important;
}
table.add_cart_only_icon tr .wpt_action a.button.added:before{
    font-style: italic;
    font-stretch: semi-expanded;
}
table.add_cart_left_icon tr .wpt_action a.button:before {
    content: "\e01d";    
    z-index: 99999;
    font-family: WooCommerce;
    font-size: initial;
    padding: 0;
    position: static;
    font-size: 76%;
    margin-right: 5px;
}
table.add_cart_right_icon tr .wpt_action a.button:after {
    content: "\e01d";    
    z-index: 99999;
    font-family: WooCommerce;
    font-size: initial;
    padding: 0;
    position: static;
    font-size: 76%;
    margin-left: 5px;
}

/* added icon list: https://github.com/woocommerce/woocommerce-icons/blob/master/style.css */
.woocommerce a.button.wpt_woo_add_cart_button.added::after{
    content: '';
    display: none !important;
}
.woocommerce-notices-wrapper {
    position: relative;
}

/*  responsive */
@media only screen and (max-width: 767px) {
    .wpt_product_title {
        padding-bottom: 1px;
    }
    .wpt_action {
        padding-top: 1px;
    }
    .mobile_responsive .wpt_row td img{
        margin: 0;
    } 
    tr.visible_row.wpt_row .col_inside_tag.action {
        align-items: flex-start;
    }
    table#wpt_table.mobile_responsive.wpt_product_table tr {
        padding: 0;
    }
    table#wpt_table.mobile_responsive.wpt_product_table tr>td{
        padding: 10px;
    }
    .wpt_product_table.mobile_responsive .col_inside_tag.autoresponsive-label-show {
        padding-left: 0;
    }
}

