/*
base class beautiful_beautiful_blacky_wrapper
*/
:root {
  --beautiful-blue: #466a9a;
  --beautiful-black: #25252b;
  --beautiful-black-hover:#2e2e36;
}
  .beautiful_blacky_wrapper a, .beautiful_blacky_wrapper a:hover{
    text-decoration: none !important;
  }
  .beautiful_blacky_wrapper .woocommerce-mini-cart__buttons.buttons a{
    background:var(--beautiful-black);
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    color: #fff;
  }
  .beautiful_blacky_wrapper ul.woocommerce-mini-cart li a{
    color: #ffffff;
    font-size: 14px;
  }
  .beautiful_blacky_wrapper table {
    color: #212529;
    background: var(--beautiful-black-hover);
    font-size: 15px;
    border: none;
    margin-bottom: 20px;
  }
  .beautiful_blacky_wrapper table thead th {
   border: none;
   font-size: 18px;
   font-weight: 500;
  }
  .beautiful_blacky_wrapper table.beautiful_blacky_table tbody td .wpt_product_title_in_td {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
  }
  
  .beautiful_blacky_wrapper table span.wpt-pro-tag-on-sale {
    display: inline-block;
    padding: 2px;
    border: 1px solid var(--beautiful-blue);
    background: var(--beautiful-blue);
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    font-size: 16px;
  }
  .beautiful_blacky_wrapper table tbody tr a.button, 
  .beautiful_blacky_wrapper table tbody tr a.button.adding, 
  .beautiful_blacky_wrapper table tbody tr a.button.alt.wc-variation-selection-needed, 
  .beautiful_blacky_wrapper table tbody tr a.button.adding.wc-variation-selection-needed, 
  .beautiful_blacky_wrapper table tbody tr a.button.disabled, 
  .beautiful_blacky_wrapper table tbody tr a.button.alt.disabled {
    padding: 8px 9px;
    background:var(--beautiful-blue);
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    font-weight:400;

}
    .beautiful_blacky_wrapper table thead tr, 
    .beautiful_blacky_wrapper table thead th {
      border-top: none;
      border-bottom: none !important;
      color: #fff; 
    }
    .beautiful_blacky_wrapper table tbody th, 
    .beautiful_blacky_wrapper table tbody td {
      color: #b3b3b3;
      font-weight: 400;
      padding-bottom: 15px;
      padding-top: 15px;
      font-weight: 300;
    }
    
    .beautiful_blacky_wrapper table tbody tr:not(.spacer) {
      border-radius: 7px;
      overflow: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; 
      border-bottom: 1px solid #000000;
    }
      .beautiful_blacky_wrapper table tbody tr:not(.spacer):hover {
        -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1); 
      }
      .beautiful_blacky_wrapper table tbody tr th,
      .beautiful_blacky_wrapper table tbody tr td {
        background: var(--beautiful-black);
        padding-bottom: 1em;
        border-spacing: 1px;
        border: none;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; 
      }

      .beautiful_blacky_wrapper table tbody tr th a, 
      .beautiful_blacky_wrapper table tbody tr td a {
        color: #b3b3b3; 
      }
      .beautiful_blacky_wrapper table tbody tr th:first-child, 
      .beautiful_blacky_wrapper table tbody tr td:first-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px; 
      }
      .beautiful_blacky_wrapper table tbody tr th:last-child, 
      .beautiful_blacky_wrapper table tbody tr td:last-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; 
      }
    .beautiful_blacky_wrapper table tbody tr.spacer td {
      padding: 0 !important;
      height: 3px;
      border-radius: 0 !important;
      background: transparent !important; 
    }
    .beautiful_blacky_wrapper table tbody tr.active th, .beautiful_blacky_wrapper table tbody tr.active td, 
    .beautiful_blacky_wrapper table tbody tr:hover th, .beautiful_blacky_wrapper table tbody tr:hover td,
    .beautiful_blacky_wrapper table tbody tr:hover .wpt_product_title_in_td {
      color: #fff;
      background: var(--beautiful-black-hover);
    }
    .beautiful_blacky_wrapper table tbody tr.active th a, 
    .beautiful_blacky_wrapper table tbody tr.active td a, 
    .beautiful_blacky_wrapper table tbody tr:hover th a, 
    .beautiful_blacky_wrapper table tbody tr:hover td a,
    .beautiful_blacky_wrapper table tr.wpt_selected_tr td a,
    .beautiful_blacky_wrapper table tr.wpt_selected_tr td{
      color: #fff !important; 
    }

    /*Checkbox*/

  .beautiful_blacky_wrapper.wpt_product_table_wrapper input[type=checkbox]:checked+label:before {
      background: var(--beautiful-blue);
      border-color: var(--beautiful-blue);
  }
  .beautiful_blacky_wrapper.wpt_product_table_wrapper input[type=checkbox]+label:before{
    border: 1px solid #5f5f6c;
    content: '';
    margin-right: 3px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: var(--beautiful-black-hover);
    border-radius: 2px;
}

.beautiful_blacky_wrapper.wpt_product_table_wrapper input[type=checkbox]:checked+label:after {
  content: '\2713';
  color: #fff;
  top: 0px;
  font-size: 14px;
  font-weight: bold;
  left: 5px;
  position: absolute;
}
.beautiful_blacky_wrapper.wpt_product_table_wrapper .all_check_header input[type=checkbox]+label:before{
  margin-right: 10px;
}

/*----Pagination----*/
.beautiful_blacky_wrapper .wpt_table_pagination span.page-numbers.current, 
.beautiful_blacky_wrapper .wpt_table_pagination a.page-numbers.current {
  background-color: var(--beautiful-black);
  color: #ffff;
  border: 1px solid var(--beautiful-black);
  font-weight: bold;
  font-size: 14px;
}
.beautiful_blacky_wrapper .wpt_table_pagination a.page-numbers, 
.beautiful_blacky_wrapper .wpt_table_pagination span.page-numbers {
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid var(--beautiful-black-hover);
  margin: 0px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}
.beautiful_blacky_wrapper .wpt_table_pagination a.page-numbers:hover, 
.beautiful_blacky_wrapper .wpt_table_pagination a.page-numbers:focus, 
.beautiful_blacky_wrapper .wpt_table_pagination span.page-numbers:hover, 
.beautiful_blacky_wrapper .wpt_table_pagination span.page-numbers:focus {
  background: var(--beautiful-black-hover);
  color: #fff;
}
.beautiful_blacky_wrapper th.wpt_check label {
  margin-left: -1px;
}

.beautiful_blacky_wrapper .all_check_header_footer{
  background-color: transparent;
  padding: 15px 0;
  font-size: 14px;
  font-family:inherit;
  text-transform:uppercase;
}
.beautiful_blacky_wrapper .all_check_header_footer .button.add_to_cart_all_selected{
  background: var(--beautiful-black);
  padding: 15px 30px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 400;
  color: #ffffff;
}
.beautiful_blacky_wrapper .all_check_header_footer .button.add_to_cart_all_selected:hover{
  color: rgb(233, 233, 233);
}
.beautiful_blacky_wrapper .all_check_header_footer.all_check_header>span {
  background: var(--beautiful-black-hover);
  display: flex;
  padding: 7px;
  border: 1px solid rgba(119, 115, 115, 0.12);
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 3px;
}

.beautiful_blacky_wrapper .custom_table .wpt_row td img {
  border-radius: 3px;
}
.beautiful_blacky_wrapper table:not( .has-background ) tbody tr:nth-child(2n) td,
.beautiful_blacky_wrapper table:not( .has-background ) th {
  background-color: var(--beautiful-black-hover);
}
.beautiful_blacky_wrapper.wpt_product_table_wrapper div.tables_cart_message_box div.widget_shopping_cart_content li.woocommerce-mini-cart-item.mini_cart_item {
  background: var(--beautiful-black);
  color: #fff;
}

.beautiful_blacky_wrapper table th.wpt_action {
  text-align: right;
}
.beautiful_blacky_wrapper .search_single .query_box_direct_value, .beautiful_blacky_wrapper .instance_search_input {
  width: 100%;
  border-radius: 4px;
  padding: 6px 5px 5px 5px;
  border: 1px solid #b7b7b7;
  padding: 12px;
  height: 45px;
}
.beautiful_blacky_wrapper a:focus, 
.beautiful_blacky_wrapper input:focus, 
.beautiful_blacky_wrapper textarea:focus, 
.beautiful_blacky_wrapper button:focus {
  outline: 2px solid var(--beautiful-blue);
}
.beautiful_blacky_wrapper .search_single_column {
  display: block;
  width: 100%;
  margin-right: 10px;
}
.beautiful_blacky_wrapper .search_single_column input{
  height:45px;
}
.beautiful_blacky_wrapper .wpt_search_box .search_box_wrapper {
  position: relative;
  text-align: left;
}
.beautiful_blacky_wrapper h3.search_box_label {
  text-align: left;
  margin-bottom: 15px;
}
.beautiful_blacky_wrapper h3.search_box_label.wpt_product_table_wrapper div.tables_cart_message_box div.widget_shopping_cart_content li.woocommerce-mini-cart-item.mini_cart_item * {
  font-size: 14px;
}
.beautiful_blacky_wrapper .quantity .qty {
  width: 4.5em;
  text-align: center;
  border-radius: 3px;
  height: 40px;
  background-color: var(--beautiful-blue);
  color: #fff;
  border: none;
  padding: 0 5px;
}
.beautiful_blacky_wrapper  input[type=number]::-webkit-inner-spin-button, 
.beautiful_blacky_wrapper  input[type=number]::-webkit-outer-spin-button {  
   opacity: 0.7;
}
.beautiful_blacky_wrapper .wpt_edit_table > a {
  font-size: 18px;
  color: #25252b;
  background: #ffffff;
  border: 1px solid #ddd;
}