/*
base class default_wrapper
*/
:root {
  --wpt-default-primary: #0093b8;
  --wpt-default-secondary: #edf7f8;
  --wpt-default-hover: #fff;
  --wpt-default-border: #e2f8fa;
  --wpt-default-dark-border: #90cbed;
  --wpt-default-text-color: #508491;

}

.wpt-wrap .woocommerce-mini-cart__buttons.buttons a {
  background: var(--wpt-default-primary);
}
.wpt-wrap .woocommerce-mini-cart__buttons.buttons a:hover {
  background: #000;
}
.wpt-wrap ul.woocommerce-mini-cart li a {
  color: #333;
}
.wpt-wrap table {
  color: var(--wpt-default-text-color);
}
.wp-block-button__link {
  background: var(--wpt-default-primary) !important;
}
body.wpt_table_body .wpt-wrap table thead tr,
body.wpt_table_body .wpt-wrap table thead th {
  background-color: var(--wpt-default-primary) !important;
}
.wpt-wrap table.wpt-tbl tbody td .wpt_product_title_in_td {
  color: #02485a;
}
.wpt-wrap table span.wpt-pro-tag-on-sale {
  border: 1px solid var(--wpt-default-primary);
  background: var(--wpt-default-primary);
}
body.wpt_table_body .wpt-wrap table tbody tr a.button.add_to_cart_button,
body.wpt_table_body .wpt-wrap table tbody tr a.button.add_to_cart_button.adding,
body.wpt_table_body .wpt-wrap table tbody tr a.button.add_to_cart_button.alt.wc-variation-selection-needed,
body.wpt_table_body .wpt-wrap table tbody tr a.button.add_to_cart_button.adding.wc-variation-selection-needed{
  background: var(--wpt-default-primary) !important;
  border: 1px solid var(--wpt-default-primary);

}

body.wpt_table_body .wpt-wrap table tbody tr a.button.add_to_cart_button:hover,
body.wpt_table_body .wpt-wrap table tbody tr a.button.add_to_cart_button:hover.adding,
body.wpt_table_body .wpt-wrap table tbody tr a.button.add_to_cart_button:hover.alt.wc-variation-selection-needed,
body.wpt_table_body .wpt-wrap table tbody tr a.button.add_to_cart_button:hover.adding.wc-variation-selection-needed{
  background: transparent !important;
  color: var(--wpt-default-primary) !important;
  border: 1px solid var(--wpt-default-primary);
}

body.wpt_table_body .wpt-wrap .qib-button.qib-button-wrapper .plus.qib-button {
  background: transparent !important;
  border: 1px solid var(--wpt-default-dark-border);
  color: var(--wpt-default-primary) !important;
}

body.wpt_table_body .wpt-wrap .qib-button.qib-button-wrapper .minus.qib-button {
  background: transparent !important;
  border: 1px solid var(--wpt-default-dark-border);
  color: var(--wpt-default-primary) !important;
}

.wpt-wrap tr.wpt_table_header_row.wpt_table_head th{
  color: white;
}

.wpt_product_table tbody tr .star-rating::before{
  color: #02485a !important;
}
.wpt-wrap table tbody th,
.wpt-wrap table tbody td {
  color: #02485a;
}
.wpt-wrap table tbody th .content span,
.wpt-wrap table tbody td .content span {
  color: #02485a !important;
}

.wpt-wrap tbody tr td .music_title {
  color: var(--wpt-default-text-color);
}

.wpt-wrap table tbody tr:not(.spacer) {
  border-bottom: 1px solid var(--wpt-default-border);
}



body.wpt_table_body .wpt-wrap table tbody tr th,
body.wpt_table_body .wpt-wrap table tbody tr td {
  background: var(--wpt-default-secondary) !important;
}

.wpt-wrap table tbody tr th a,
.wpt-wrap table tbody tr td a {
  color: #02485a;
}





.wpt-wrap table tr:hover {
  background: var(--wpt-default-hover)
}
.wpt-wrap table tbody tr:last-child,
.wpt-wrap table tbody tr:last-child:hover {
  border-bottom: none !important;
  box-shadow: unset;
}

body.wpt_table_body .wpt-wrap .select2-container .select2-selection--multiple,
body.wpt_table_body .wpt-wrap .select2-container--default .select2-selection--single {
  border: 1px solid #ccd2d3;
}

/*------- Checkbox ---------*/

div.wpt-wrap.wpt-wrap input[type=checkbox]+label:before {
  background: #f3f3f3;
  border: 1px solid #90cbed;
}


div.wpt-wrap.wpt-wrap input[type=checkbox]:checked+label:after {
  color: var(--wpt-default-primary);
}

div.wpt-wrap.wpt-wrap input[type=checkbox].wpt_check_universal.wpt_check_universal_header:checked+label:after,
div.wpt-wrap.wpt-wrap input.wpt_check_universal.wpt_check_universal_header[type=checkbox]:checked+label:after {
  color: var(--wpt-default-primary)
}

/*------- Pagination -------*/

.wpt-wrap .wpt_table_pagination span.page-numbers.current,
.wpt-wrap .wpt_table_pagination a.page-numbers.current {
  background-color: var(--wpt-default-primary);
  border: 1px solid var(--wpt-default-primary);
}

.wpt-wrap .wpt_table_pagination a.page-numbers,
.wpt-wrap .wpt_table_pagination span.page-numbers {
  border: 1px solid var(--wpt-default-primary);
}

.wpt-wrap .wpt_table_pagination a.page-numbers:hover,
.wpt-wrap .wpt_table_pagination a.page-numbers:focus,
.wpt-wrap .wpt_table_pagination span.page-numbers:hover,
.wpt-wrap .wpt_table_pagination span.page-numbers:focus {
  background: var(--wpt-default-primary);
  color: #fff;
}


/*Checkbox*/
.wpt-wrap .all_check_header_footer .button.add_to_cart_all_selected:hover {
  color: #fff;
  background-color: #000;
}



body.wpt_table_body .wpt-wrap table:not(.has-background) tbody tr:nth-child(2n) td {
  background-color: var(--wpt-default-hover) !important;
}

.wpt-wrap table td,
.wpt-wrap table:not(.has-background) th {
  background-color: var(--wpt-default-primary);

}

/* product description fatima  */
body.wpt_table_body .wpt-wrap table tbody tr.wpt_row>td .product_description {
  color: #5c5c5c;
}

.wpt-wrap.wpt-wrap div.tables_cart_message_box div.widget_shopping_cart_content li.woocommerce-mini-cart-item.mini_cart_item {
  background: #ffffff;
  color: var(--wpt-default-text-color);
}

/*=========Search Box==========*/
.wpt-wrap .search_single .query_box_direct_value,
.wpt-wrap .instance_search_input {
  border: 1px solid var(--wpt-default-border);
  color: #000;
}

/*------Search bar---------*/

.wpt-wrap .search_single .query_box_direct_value,
.wpt-wrap .instance_search_input {
  border: 1px solid #ccd2d3;
}



body.wpt_table_body .wpt-wrap a:focus,
body.wpt_table_body .wpt-wrap input:focus,
body.wpt_table_body .wpt-wrap select:focus,
body.wpt_table_body .wpt-wrap textarea:focus,
body.wpt_table_body .wpt-wrap button:focus {
  outline: 2px solid var(--wpt-default-secondary);
  color: #000;
}


/*----- Quantity ---------*/
.wpt-wrap .qib-button-wrapper button.qib-button {
  color: var(--wpt-default-primary);
  border: 1px solid var(--wpt-default-dark-border);

}
.wpt-wrap .qib-button-wrapper button.qib-button:hover {
  border: 1px solid var(--wpt-default-dark-border);
}

.wpt-wrap .qib-button-wrapper .quantity input.input-text.qty.text {
  border: 1px solid var(--wpt-default-dark-border);
  color: #024d7e;
}

/*--- View Cart ---*/

.wpt-wrap table#wpt_table.wpt_product_table a.added_to_cart.wc-forward {
  color: #02487d;
}

/*Mini Cart*/

.wpt-wrap.wpt-wrap div.tables_cart_message_box div.widget_shopping_cart_content li a.remove::before {
  background: var(--wpt-default-primary);
}

.wpt-wrap select,
.wpt_varition_section select {
  border: 1px solid var(--wpt-default-dark-border);
}

.wpt-wrap .wpt_load_more {
  border: 1px solid var(--wpt-default-primary);
  background-color: var(--wpt-default-primary);
}

.wpt-wrap .wpt_load_more:hover {
  background-color: transparent;
  border: 1px solid var(--wpt-default-primary);
  color: var(--wpt-default-primary);
}
