:root {
    --wpt_primary: #5BB318;
    --wpt_primary_deep: #2B7A0B;
    --wpt_primary_deepest: #1b6000;
    --wpt_primary_light: #3d8905;

    --wpt_secondary: #edf7f8;
    --wpt_secondary_deep: #ceeaed;
    --wpt_secondary_light: #d0d1d1;

    --wpt_link: #02485a;
    --wpt_link_hover: #02485a;
    --wpt_link_deep: #003542;
    --wpt_link_light: #047c9b;
    

    --wpt_text: #0e0d0d;
    --wpt_text_deep: #000000;
    --wpt_text_light: #404040;  

    --wpt_cart_highliter: #00b17a;
    --wpt_danger: rgb(247, 24, 24);
    --wpt_warning: rgb(247, 243, 24);

    --wpt_off_white: #14141414;
    --wpt_deep_off_white: #cbcbcb;
    --wpt_white: #ffffff;
    --wpt_gray: gray;
    --wpt_black: #000000;

    
    --wpt_review: #ffc107;
    --wpt_thead_bg: var(--wpt_primary);
    --wpt_thead_text: var(--wpt_white);
  
    --wpt_product_title: var(--wpt_primary_deepest);
    --wpt_product_title_hover: var(--wpt_primary);
    
    --wpt_table_bg: var(--wpt_white);
    --wpt_table_tr_odd: #dd000005;
    --wpt_table_tr_boder: #0000000d;
  
    --wpt_btn_color: var(--wpt_white);
    --wpt_btn_color_hover: var(--wpt_primary);
  }

.wpt-wrap table.wpt-tbl tr:nth-child(2n+2) {
  background: #00000003
}


.wpt-wrap table.wpt-tbl tr:nth-child(4n+2) {
  background: #00000005
}

.wpt-wraps table.wpt-tbl tr.wpt-row {
  /* box-shadow: 0px -1px 0px 0px #0000000d; */
  box-shadow: 0px -1px 0px 0px #00000007;
}