.wpt-new-footer-cart.footer-cart-temp-1 {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.wpt-lister {
  border-top: 3px solid #051937;
}
.wpt-lister .lister-ins {
  color: #00ab7d;
}
.wpt-new-footer-cart span.wpt-fcart-coll-expand {
  background: #00ad7c;
}

.lister-ins>ul>li {
  color: #00a880;
}