/*
base class beautiful_pink_wrapper
*/
:root {
  --pink-primary: #ffb7c5;
  --pink-secondary: #03204c;
  --pink-text-color: #fc92ae;
  --pink-border: #42597c;
}

.wpt_product_table_wrapper a,
.wpt_product_table_wrapper a:hover {
  text-decoration: none !important;
}

.wpt_product_table_wrapper .widget_shopping_cart_content .woocommerce-mini-cart__buttons.buttons a {
  margin-bottom: 10px;
}

.wpt_product_table_wrapper .woocommerce-mini-cart__buttons.buttons a {
  background: var(--pink-primary);
  border: 1px solid var(--pink-primary);
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
}

.wpt_product_table_wrapper .woocommerce-mini-cart__buttons.buttons a:hover {
  background: #232323;
  border: 1px solid #232323;

}

.wpt_product_table_wrapper ul.woocommerce-mini-cart li a {
  color: #ffffff;
  font-size: 14px;
}

.wpt_product_table_wrapper table {
  color: #212529;
  background: var(--pink-primary-hover);
  font-size: 15px;
  border: none;
  margin-bottom: 20px;
}

.wpt_product_table_wrapper table thead th {
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.wpt_product_table_wrapper table.blue_table thead {
  border-bottom: 1px solid #42597c;
}

.wpt_product_table_wrapper table.wpt_product_table_table tbody td .wpt_product_title_in_td {
  color: var(--pink-text-color);
  font-weight: 500;
  text-decoration: none;
  font-size: 17px;
}

body.wpt_table_body .wpt_product_table_wrapper table tbody tr.wpt_row>td .product_description {
  color: #5c5c5c;
  font-weight: 400;
  text-decoration: none !important;
  font-size: 16px;
  left: 22px;
  background: transparent;
  margin-right: 35px;
}

.wpt_product_table_wrapper table span.wpt-pro-tag-on-sale {
  display: inline-block;
  padding: 5px 0;
  border: 1px solid var(--pink-text-color);
  background: var(--pink-text-color);
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
  font-size: 14px;
  width: 50px;
  text-align: center;
  line-height: 19px;
}

/* advanced action button (fatima) */
.wpt_table_body .wpt_product_table_wrapper .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 0; 
}

/* column fixed (fatima) */
.wpt_product_table_wrapper .wpt_search_box .search_box_wrapper .search_single.search_single_direct {
  display: flex;
  justify-content: center;
  align-items: end;

}

/* advanced action button (fatima) */
.wpt_table_body .wpt_product_table_wrapper button,
.wpt_table_body .wpt_product_table_wrapper button.adding,
.wpt_table_body .wpt_product_table_wrapper button.alt.wc-variation-selection-needed,
.wpt_table_body .wpt_product_table_wrapper button.adding.wc-variation-selection-needed,
.wpt_table_body .wpt_product_table_wrapper button.disabled,
.wpt_table_body .wpt_product_table_wrapper button.alt.disabled {
  padding: 8px 9px;
  background: #232323;
  color: #fff !important;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #232323;
  white-space: nowrap; 

}

.wpt_table_body .wpt_product_table_wrapper button:hover,
.wpt_table_body .wpt_product_table_wrapper button:hover.adding,
.wpt_table_body .wpt_product_table_wrapper button:hover.alt.wc-variation-selection-needed,
.wpt_table_body .wpt_product_table_wrapper button:hover.adding.wc-variation-selection-needed,
.wpt_table_body .wpt_product_table_wrapper button:hover.disabled,
.wpt_table_body .wpt_product_table_wrapper button:hover.alt.disabled {
  background: #fda8bf !important;
  color: #fff !important;
  border: 1px solid var(--pink-primary);

}


/* advanced action button (fatima) */
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button,
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button.adding,
.wpt_table_body .wpt_product_table_wrapper button.alt.wc-variation-selection-needed,
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button.adding.wc-variation-selection-needed,
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button.disabled,
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button.alt.disabled {
  padding: 8px 9px;
  background-color: #232323 !important;
  color: #fff !important;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 0;
  text-decoration: none;
  border: 1px solid #232323;
  white-space: nowrap;

}

/* advanced action button (fatima) */
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button:hover,
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button:hover.adding,
.wpt_table_body .wpt_product_table_wrapper button.alt.wc-variation-selection-needed,
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button:hover.adding.wc-variation-selection-needed,
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button:hover.disabled,
.wpt_table_body .wpt_product_table_wrapper button.single_add_to_cart_button:hover.alt.disabled {
  background-color: #fda8bf !important;
  border: 1px solid #fda8bf;
  color: #fff !important;
  text-decoration: none;

}



body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button.adding,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button.alt.wc-variation-selection-needed,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button.adding.wc-variation-selection-needed,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button.disabled,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button.alt.disabled {
  padding: 8px 9px;
  background-color: #232323 !important;
  color: #fff !important;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 400;
  border: 1px solid #232323;
  white-space: nowrap;
}

body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button:hover,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button:hover.adding,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button:hover.alt.wc-variation-selection-needed,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button:hover.adding.wc-variation-selection-needed,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button:hover.disabled,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr a.button:hover.alt.disabled {
  background-color: #fda8bf !important;
  border: 1px solid #fda8bf;
  color: #fff !important;
  text-decoration: none;

}

/* plus minus button (fatima) */
.wpt_product_table_wrapper .qib-button-wrapper button.qib-button {
  padding: 0 !important; 
  background-color: #fff;
  color: #fff;
  border: 1px solid #ddd;
  color: #969696 !important;
  font-size: 22px;
  width: 42px;
  height: 38px;
  line-height: 13px;
  text-align: center;
  border-radius: 0;
}

.wpt_product_table_wrapper .qib-button.qib-button-wrapper .plus.qib-button {
  vertical-align: middle;
  border: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
  outline: none;
}

.wpt_product_table_wrapper .qib-button.qib-button-wrapper .plus.qib-button:hover {
  background-color: #fff !important;
  color: #969696;
}


.wpt_product_table_wrapper .qib-button.qib-button-wrapper .minus.qib-button {
  vertical-align: middle;
  border: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
  outline: none;
}

.wpt_product_table_wrapper .qib-button.qib-button-wrapper .minus.qib-button:hover {
  background-color: #fff !important;
  color: #969696;
}

.wpt_product_table_wrapper .qib-button-wrapper .quantity input.input-text.qty.text {
  height: 38px;
  padding: 0;
  text-align: center;
  background: #ffffff;
  border: 1px solid #ddd;
  font-size: 18px;
  line-height: 13px;
  box-shadow: none;
  border-radius: 0;
  width: 42px;
  margin-top: 1px;
}

.wpt_product_table_wrapper .qib-button-wrapper button.qib-button:hover {
  padding: 6px 16px 8px;
  background-color: transparent;
  border: 1px solid var(--pink-primary-border);

}

/* star ratting (fatima) */
.wpt_product_table_wrapper table tbody th .star-rating,
.wpt_product_table_wrapper table tbody td .star-rating {
  height: 2rem;
}

body.wpt_table_body .wpt_product_table_wrapper table thead tr,
body.wpt_table_body .wpt_product_table_wrapper table thead th {
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  background-color: var(--pink-primary);
}

.wpt_product_table_wrapper table tbody th,
.wpt_product_table_wrapper table tbody td {
  color: #b3b3b3;
  font-weight: 400;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 300;
}

.wpt_product_table_wrapper table tbody tr:not(.spacer) {
  border-radius: 7px;
  overflow: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border-bottom: 2px solid #fff;
}

.wpt_product_table_wrapper table tbody tr:not(.spacer):hover {
  -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
  /* background: var(--pink-primary); */
}

.wpt_product_table_wrapper table tbody tr th,
.wpt_product_table_wrapper table tbody tr td {
  /* background: #ffb7c51a;  */
  background: #fff;
  padding-bottom: 1em;
  border-spacing: 1px;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.wpt_product_table_wrapper table tbody tr:hover { 
  background: #f7faff;
}

body.wpt_table_body .wpt_product_table_wrapper table tbody tr th a,
body.wpt_table_body .wpt_product_table_wrapper table tbody tr td a {
  color: #000;
}

.wpt_product_table_wrapper table tbody tr th:first-child,
.wpt_product_table_wrapper table tbody tr td:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.wpt_product_table_wrapper table tbody tr th:last-child,
.wpt_product_table_wrapper table tbody tr td:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.wpt_product_table_wrapper table tbody tr.spacer td {
  padding: 0 !important;
  height: 3px;
  border-radius: 0 !important;
  background: transparent !important;
}

.wpt_product_table_wrapper table tbody tr.active th,
.wpt_product_table_wrapper table tbody tr.active td,
.wpt_product_table_wrapper table tbody tr:hover th,
.wpt_product_table_wrapper table tbody tr:hover td,
.wpt_product_table_wrapper table tbody tr:hover .wpt_product_title_in_td {
  color: #fff;
  background: var(--pink-primary-hover);
}

.wpt_product_table_wrapper table tbody tr.active th a,
.wpt_product_table_wrapper table tbody tr.active td a,
.wpt_product_table_wrapper table tbody tr:hover th a,
.wpt_product_table_wrapper table tbody tr:hover td a,
.wpt_product_table_wrapper table tr.wpt_selected_tr td a,
.wpt_product_table_wrapper table tr.wpt_selected_tr td {
  color: #000 !important;
}

/*=========Search Box==========*/
.wpt_product_table_wrapper .search_single .query_box_direct_value,
.wpt_product_table_wrapper .instance_search_input {
  width: 100%;
  border-radius: 4px;
  padding: 6px 5px 5px 5px;
  padding: 12px;
  height: 45px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 14px;
}

/*Checkbox*/

.wpt_product_table_wrapper input[type=checkbox]:checked+label:before {
  background: var(--pink-primary);
  border-color: var(--pink-primary-border);
}

.wpt_product_table_wrapper input[type=checkbox]+label:before {
  border: 1px solid var(--pink-border);
  content: '';
  margin-right: 3px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 2px;
  color: #000;
}

.wpt_product_table_wrapper input[type=checkbox]:checked+label:after {
  content: '\2713';
  color: #fff;
  top: 0px;
  font-size: 14px;
  font-weight: bold;
  left: 5px;
  position: absolute;
}

.wpt_product_table_wrapper .all_check_header input[type=checkbox]+label:before {
  margin-right: 10px;
}

/*----Pagination----*/
.wpt_product_table_wrapper .wpt_table_pagination span.page-numbers.current,
.wpt_product_table_wrapper .wpt_table_pagination a.page-numbers.current {
  background-color: var(--pink-text-color);
  color: #ffff;
  border: 1px solid var(--pink-text-color);
  font-weight: bold;
  font-size: 14px;
}
.wpt_product_table_wrapper .wpt_table_pagination span.page-numbers.current:hover,
.wpt_product_table_wrapper .wpt_table_pagination a.page-numbers.current:hover {
  background-color: transparent;
  color: var(--pink-text-color);
}

.wpt_product_table_wrapper .wpt_table_pagination a.page-numbers,
.wpt_product_table_wrapper .wpt_table_pagination span.page-numbers {
  padding: 8px 16px;
  text-decoration: none;
  transition: .3s;
  background-color: #232323;
  border: 1px solid #232323; 
  color: #fff;
  margin: 0px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

.wpt_product_table_wrapper .wpt_table_pagination a.page-numbers:hover,
.wpt_product_table_wrapper .wpt_table_pagination a.page-numbers:focus,
.wpt_product_table_wrapper .wpt_table_pagination span.page-numbers:hover,
.wpt_product_table_wrapper .wpt_table_pagination span.page-numbers:focus {
  background: transparent;
  color: #232323; 
}

.wpt_product_table_wrapper th.wpt_check label {
  margin-left: -1px;
}

.wpt_product_table_wrapper .all_check_header_footer {
  background-color: transparent;
  padding: 15px 0;
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;
}

.wpt_product_table_wrapper .all_check_header_footer .button.add_to_cart_all_selected {
  background: var(--pink-primary);
  padding: 15px 30px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 400;
  color: #ffffff !important;
  border: 1px solid var(--pink-primary);
}

.wpt_product_table_wrapper .all_check_header_footer .button.add_to_cart_all_selected:hover {
  color: #fff !important;
  background: #232323;
  border: 1px solid #232323;
}

.wpt_product_table_wrapper .all_check_header_footer.all_check_header>span {
  background: transparent;
  display: flex;
  padding: 7px;
  border: 1px solid #232323;
  justify-content: center;
  align-items: center;
  color: #232323;
  border-radius: 3px;
}

.wpt_product_table_wrapper .all_check_header_footer.all_check_header>span:hover {
  background: #232323;
  border: 1px solid #232323;
  color: #fff;
}

.wpt_product_table_wrapper .custom_table .wpt_row td img {
  border-radius: 3px;
}

.wpt_product_table_wrapper table:not(.has-background) tbody tr:nth-child(2n) td,
.wpt_product_table_wrapper table:not(.has-background) th {
  /* background-color: #ffb7c545; */
  background-color: #f5f5f587;
}

/* .wpt_product_table_wrapper table:not(.has-background) tbody:hover tr:nth-child(2n) td,
.wpt_product_table_wrapper table:not(.has-background) th:hover {
  background-color: #f7faff;
  color: var(--pink-secondary);
} */

body.wpt_table_body .wpt_product_table_wrapper .wpt_product_table.custom_table thead>tr>th.this_column_sorted {
  background-color: var(--pink-text-color) !important;
}

.wpt_product_table_wrapper .wpt_product_table_wrapper div.tables_cart_message_box div.widget_shopping_cart_content li.woocommerce-mini-cart-item.mini_cart_item {
  background: var(--pink-primary);
  color: #fff;
}

.wpt_product_table_wrapper table th.wpt_action {
  text-align: right;
}

body.wpt_table_body .wpt_product_table_wrapper table.wpt_product_table_table tbody tr.wpt_row>td {
  /* border-color: #fff;   
    border-left-width: 2px;
    border-left-style: solid; */
  color: #000;
  font-size: 16px;
  padding: 12px 20px;
}



/*======Search bar=========*/

.wpt_product_table_wrapper .search_single .query_box_direct_value,
.wpt_product_table_wrapper .instance_search_input {
  width: 100%;
  border-radius: 4px;
  padding: 6px 5px 5px 5px;
  border: 1px solid #ddd;
  padding: 12px;
  height: 45px;
}

.wpt_product_table_wrapper a:focus-visible,
.wpt_product_table_wrapper input:focus-visible,
.wpt_product_table_wrapper textarea:focus-visible,
.wpt_product_table_wrapper select:focus-visible,
.wpt_product_table_wrapper button:focus-visible {
  outline: 1px solid #ddd;
}

.wpt_product_table_wrapper .search_single_column {
  display: block;
  width: 100%;
  margin-right: 10px;
}

.wpt_product_table_wrapper .search_single_column input {
  height: 45px;
}

.wpt_product_table_wrapper .wpt_search_box .search_box_wrapper {
  position: relative;
  text-align: left;
}

.wpt_product_table_wrapper h3.search_box_label {
  text-align: left;
  margin-bottom: 15px;
}

.wpt_product_table_wrapper h3.search_box_label.wpt_product_table_wrapper div.tables_cart_message_box div.widget_shopping_cart_content li.woocommerce-mini-cart-item.mini_cart_item * {
  font-size: 14px;
}

/*===== QTY =========*/
/* (fatima ) */
.wpt_product_table_wrapper .quantity .qty {
  width: 4.5em;
  text-align: center;
  border-radius: 3px;
  height: 40px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0 5px;
  border: 1px solid var(--pink-primary-border);
}

.wpt_product_table_wrapper input[type=number]::-webkit-inner-spin-button,
.wpt_product_table_wrapper input[type=number]::-webkit-outer-spin-button {
  opacity: 0.7;
}

.wpt_product_table_wrapper .wpt_edit_table>a {
  font-size: 18px;
  color: #25252b;
  background: #ffffff;
  border: 1px solid #ddd;
}

.wpt_product_table_wrapper .select2-container .select2-selection--multiple {
  min-height: 42px;
}

.wpt_product_table_wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 15px;
}

.wpt_product_table_wrapper .td_or_cell.wpt_check {
  display: table-cell !important
}

/*=== View Cart ===*/
.wpt_product_table_wrapper table#wpt_table.wpt_product_table a.added_to_cart.wc-forward {
  font-size: 12px;
  padding: 2px 5px;
  font-weight: normal;
  background: transparent;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}

.wpt_product_table_wrapper tbody tr a.button,
.wpt_product_table_wrapper tbody tr a.button.adding,
.wpt_product_table_wrapper tbody tr a.button.alt.wc-variation-selection-needed,
.wpt_product_table_wrapper tbody tr a.button.adding.wc-variation-selection-needed,
.wpt_product_table_wrapper tbody tr a.button.disabled,
.wpt_product_table_wrapper tbody tr a.button.alt.disabled {
  background: var(--pink-primary-hover);
  border: 1px solid var(--pink-primary-border);
}
body.wpt_table_body .wpt_product_table_wrapper .custom_table thead .wpt_table_header_row th {
  white-space: nowrap;
}  
a:focus,
button:focus,
.button.alt:focus,
input:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
  outline-color: transparent !important;
}