:root {
    --wpt_primary: #df0206;
    --wpt_primary_deep: #a70003;
    --wpt_primary_deepest: #7c0002;
    --wpt_primary_light: #ff2b2f;

    --wpt_secondary: #ffcfd0;
    --wpt_secondary_deep: #d1a0a1;
    --wpt_secondary_light: #fff4f4;

    --wpt_link: #df0206;
    --wpt_link_deep: #7c0002;
    --wpt_link_light: #ff2b2f;
    

    --wpt_text: #0e0d0d;
    --wpt_text_deep: #000000;
    --wpt_text_light: #404040;  


    --wpt_warning: #ffeb3b;
  --wpt_danger: #9C27B0;
  --wpt_green_signal: #8bc34a;

  --wpt_off_white: #14141414;
  --wpt_deep_off_white: #cbcbcb;
  --wpt_white: #ffffff;
  --wpt_gray: gray;
  --wpt_black: #000000;
  }
