:root {
    --wpt_primary: #df0206;
    --wpt_primary_deep: #a70003;
    --wpt_primary_deepest: #7c0002;
    --wpt_primary_light: #ff2b2f;

    --wpt_secondary: #ffcfd0;
    --wpt_secondary_deep: #d1a0a1;
    --wpt_secondary_light: #fff4f4;

    --wpt_link: #df0206;
    --wpt_link_hover: #ff2626;
    --wpt_link_deep: #7c0002;
    --wpt_link_light: #ff2b2f;
    

    --wpt_text: #0e0d0d;
    --wpt_text_deep: #000000;
    --wpt_text_light: #404040;  


    --wpt_warning: #ffeb3b;
  --wpt_danger: #9C27B0;
  --wpt_cart_highliter: #8bc34a;

  --wpt_off_white: #14141414;
  --wpt_deep_off_white: #cbcbcb;
  --wpt_white: #ffffff;
  --wpt_gray: gray;
  --wpt_black: #000000;

  --wpt_review: #ffc107;
  --wpt_thead_bg: var(--wpt_primary);
  --wpt_thead_text: var(--wpt_white);

  --wpt_product_title: var(--wpt_primary_deepest);
  --wpt_product_title_hover: var(--wpt_primary);
  
  --wpt_table_bg: var(--wpt_white);
  --wpt_table_tr_odd: #dd000005;
  --wpt_table_tr_boder: #0000000d;

  --wpt_btn_color: var(--wpt_white);
  --wpt_btn_color_hover: var(--wpt_primary);

  --wpt_btn_bg: var(--wpt_primary);
  --wpt_btn_bg_hover: transparent;
  
  --wpt_sorted_head_bg: rgba(0, 0, 0, 0.18);
  --wpt_sorted_head_text: inherit;
  --wpt_sorted_td_bg: rgba(0, 0, 0, 0.03);
  
  }

body.wpt_table_body .wpt-wrap table tbody tr a.button.add_to_cart_button,
body.wpt_table_body .wpt-wrap table tbody tr .button.single_add_to_cart_button,
body.wpt_table_body .wpt-wrap a.ajax_active.button.wpt_woo_add_cart_button.add_to_cart_button{
  line-height: 16px !important;
}