:root {
    --wpt_primary: #df0206;
    --wpt_primary_deep: #a70003;
    --wpt_primary_light: #ff2b2f;

    --wpt_secondary: #ffcfd0;
    --wpt_secondary_deep: #d1a0a1;
    --wpt_secondary_light: #fff4f4;

    --wpt_link: #02485a;
    --wpt_link_deep: #003542;
    --wpt_link_light: #047c9b;
    

    --wpt_text: #02485a;
    --wpt_text_deep: #0c0000;
    --wpt_text_light: #404040;  

    --wpt_extra_light: #FFEB3B;
    --wpt_extra_deep: #9C27B0;
  }












/* Footer Cart */
.wpt-new-footer-cart {
    background: var(--wpt_primary);
}
.wpt-lister {
    border-top: 3px solid var(--wpt_primary);
}
.wpt-lister .lister-ins {
    color: var(--wpt_primary_light);
}
.wpt-new-footer-cart span.wpt-fcart-coll-expand {
    background: var(--wpt_primary_deep);
}
.lister-ins li .wpt-cart-remove:hover{
    color: var(--wpt_extra_deep);
}
.wpt-cart-contents {
    background: #00000014;
}
.wpt-cart-contents span.wpt_empty_cart_btn:hover {
    color: var(--wpt_extra_light);
}