:root {
  --smart-border-color: rgba(0, 0, 0, .05);
  --smart-body-border-color: #ddd;
  --smart-border-primary: #26407c;
  --smart-border-secondary: #5c6b79;
  --smart-border-light: #fcfcfc;
  --smart-border-text-color: #021d33;
}

/*Smart Light Table*/
.smart_border_wrapper a,
.smart_border_wrapper a:hover {
  text-decoration: none !important;
}

.smart_border_wrapper a,
.smart_border_wrapper a:hover {
  text-decoration: none !important;
}

/* fatima  */
.smart_border_wrapper .woocommerce-mini-cart__buttons.buttons a {
  background: var(--smart-border-primary);
  font-size: var(--smart-font-size);
  font-weight: 400;
  border-radius: 3px;
  font-size: 13px;
  color: #fff !important;
  border: 1px solid var(--smart-border-primary);
}

.smart_border_wrapper .widget_shopping_cart_content .woocommerce-mini-cart__buttons.buttons a {
  margin-bottom: 10px;
}

.smart_border_wrapper .woocommerce-mini-cart__buttons.buttons a:hover {
  background: transparent;
  color: var(--smart-border-primary) !important;
  border: 1px solid var(--smart-border-primary);
}

.smart_border_wrapper table {
  border: none;
  border-collapse: collapse;
}

.smart_border_wrapper tbody tr td {
  padding: 5px;
  vertical-align: middle;
}

.smart_border_wrapper table a {
  text-decoration: none;
}

.smart_border_wrapper table th,
.smart_border_wrapper table td {
  padding: 0.75rem;
  vertical-align: top;
  font-size: var(--smart-font-size);
}

/* column fixed (fatima) */
.smart_border_wrapper .wpt_search_box .search_box_wrapper .search_single.search_single_direct {
  display: flex;
  justify-content: center;
  align-items: end;

}

/* advanced action button (fatima) */
.wpt_table_body .smart_border_wrapper button,
.wpt_table_body .smart_border_wrapper button.adding,
.wpt_table_body .smart_border_wrapper button.alt.wc-variation-selection-needed,
.wpt_table_body .smart_border_wrapper button.adding.wc-variation-selection-needed,
.wpt_table_body .smart_border_wrapper button.disabled,
.wpt_table_body .smart_border_wrapper button.alt.disabled {
  padding: 8px 9px;
  background: var(--beautiful-blue);
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;

}

/* advanced action button (fatima) */
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button,
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button.adding,
.wpt_table_body .smart_border_wrapper button.alt.wc-variation-selection-needed,
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button.adding.wc-variation-selection-needed,
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button.disabled,
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button.alt.disabled {
  padding: 8px 22px;
  background: var(--smart-border-primary);
  color: #fff !important;
  font-size: 14px;
  border-radius: 0px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  text-decoration: none;
  border: 1px solid var(--smart-border-primary);
  white-space: nowrap;

}

/* advanced action button (fatima) */
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button:hover,
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button:hover.adding,
.wpt_table_body .smart_border_wrapper button.alt.wc-variation-selection-needed,
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button:hover.adding.wc-variation-selection-needed,
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button:hover.disabled,
.wpt_table_body .smart_border_wrapper button.single_add_to_cart_button:hover.alt.disabled {
  background: transparent;
  border: 1px solid var(--smart-border-primary);
  color: var(--smart-border-primary) !important;
  text-decoration: none;

}

/* advanced action button (fatima) */
.wpt_table_body .smart_border_wrapper .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
}

.smart_border_wrapper .td_or_cell.wpt_check {
  display: table-cell !important;
}

/* plus minus button (fatima) */

.smart_border_wrapper .qib-button-wrapper button.qib-button {
  /* padding: 6px 16px 8px; */
  border-color: #e1e1e1;
  background-color: #f9f9f9 !important;
  color: #919191 !important;
  max-width: 28px;
  padding: 10px;
}

/* .smart_border_wrapper .qib-button-wrapper button.qib-button:hover {
  background-color: #f1f1f1;
  color:#000; 
} */

.smart_border_wrapper .qib-button.qib-button-wrapper .plus.qib-button {
  vertical-align: middle;
  border: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: #666;
  outline: none;
  border-left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.smart_border_wrapper .qib-button.qib-button-wrapper .plus.qib-button:hover {
  background-color: #c1c1c1 !important;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
}

/* button.plus.qib-button:hover {
  background-color: #c1c1c1!important;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
} */
.smart_border_wrapper .qib-button.qib-button-wrapper .minus.qib-button {
  vertical-align: middle;
  border: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: #666;
  text-shadow: 1px 1px 1px #fff;
  outline: none;
  border-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.smart_border_wrapper .qib-button.qib-button-wrapper .minus.qib-button:hover {
  background-color: #c1c1c1 !important;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
}

.smart_border_wrapper .qib-button-wrapper .quantity input.input-text.qty.text {
  height: 41px;
  padding: 6px 12px 8px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #ddd;
  font-size: 20px;
  line-height: 20px;
  box-shadow: none;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgb(0, 0, 0, 0.1);
  max-width: 40px;
}

/* .smart_border_wrapper .qib-button-wrapper button.qib-button:hover {
    padding: 6px 16px 8px;
    background-color:  transparent; 
    color:  var(--smart-border-primary);
    border:1px solid  var(--smart-border-primary);
  
  } */
/* star ratting (fatima) */
.smart_border_wrapper table tbody th .star-rating,
.smart_border_wrapper table tbody td .star-rating {
  height: 2rem;
}

.smart_border_wrapper .smart_light_table tbody td a.wpt_product_title_in_td,
.smart_border_wrapper .smart_light_table tbody td span.wpt_product_title_in_td,
.smart_border_wrapper .smart_light_table tbody td a {
  color: #212529;
  font-weight: 600;
  text-decoration: none;
}

.smart_border_wrapper .smart_light_table thead .wpt_table_header_row th {
  color: #212529;
  background: #ffffff;
  font-size: 16px;
  padding: 15px;
  border: none;
}

.smart_border_wrapper .smart_light_table tbody tr td,
.smart_border_wrapper .smart_light_table .wpt_table_head th {
  border-bottom: 1px solid rgb(222, 226, 230) !important;
  border: none;
}

.smart_border_wrapper .smart_light_table tr:hover {
  background-color: var(--smart-light-blue);
}

.smart_border_wrapper .smart_light_table .product_description {
  color: #777
}

.smart_border_wrapper .all_check_footer {
  background: transparent;
}

.smart_border_wrapper thead {
  border-bottom: 1px solid var(--smart-border-primary);
}


/*=========Checkbox========*/

.smart_border_wrapper.wpt_product_table_wrapper input[type=checkbox]:checked+label:before {
  background: var(--beautiful-blue);
  border-color: var(--beautiful-blue);
}

.smart_border_wrapper.wpt_product_table_wrapper input[type=checkbox]+label:before {
  border: 1px solid var(--smart-border-primary);
  content: '';
  margin-right: 3px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #fff;
}

div.smart_border_wrapper.wpt_product_table_wrapper input[type=checkbox]:checked+label:after {
  content: '\2713';
  color: #007bff !important;
  top: 0px;
  font-size: var(--smart-font-size);
  font-weight: bold;
  left: 5px;
  position: absolute;

}

.smart_border_wrapper.wpt_product_table_wrapper .all_check_header input[type=checkbox]+label:before {
  margin-right: 10px;
}

/* add to card button start (fatima) */
.wpt_table_body .smart_border_wrapper .smart_light_table.custom_table tbody tr a.button,
.wpt_table_body .smart_border_wrapper .quick_view .caqv-open-modal,
.wpt_table_body .smart_border_wrapper button,
.wpt_table_body .smart_border_wrapper .button {
  background-color: var(--smart-border-primary) !important;
  padding: 8px 22px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0px;
  color: #fff !important;
  text-decoration: none;
  border: 1px solid var(--smart-border-primary);
  margin-top: 0;
  white-space: nowrap;
}

.smart_border_wrapper .smart_light_table.custom_table tbody tr a.button:hover,
.smart_border_wrapper .quick_view .caqv-open-modal,
.smart_border_wrapper button:hover,
.smart_border_wrapper .button:hover {
  background-color: transparent !important;
  color: var(--smart-border-primary) !important;
  border: 1px solid var(--smart-border-primary);
}

/* add to card button end (fatima) */
.smart_border_wrapper .wpt_table_pagination span.page-numbers.current,
.smart_border_wrapper .wpt_table_pagination a.page-numbers.current {
  background-color: var(--smart-border-primary);
  color: #ffff;
  border: 1px solid var(--smart-border-primary);
  font-weight: bold;
}

.smart_border_wrapper.dark_table select,
.smart_border_wrapper .wpt_varition_section select {
  border-radius: 5px;
  padding: 2px;
  border: 1px solid #c1eafb;
  margin: 1px;
  background: transparent;
  color: rgb(0, 0, 0);
}

.smart_border_wrapper table tbody tr th,
.smart_border_wrapper table tbody tr td {
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}



.smart_border_wrapper table tbody tr th:after,
.smart_border_wrapper table tbody tr td:after {
  bottom: -1px;
}

.smart_border_wrapper tbody tr th:before,
.smart_border_wrapper tbody tr td:before {
  top: -1px;
}

.smart_border_wrapper td.wpt_thumbnails img {
  border-radius: 5px;
  margin: 0;
}


/*======All Checker=========*/

.smart_border_wrapper .all_check_header_footer {
  background-color: transparent;
  padding: 15px 0;
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;
}

.smart_border_wrapper .all_check_header_footer .button.add_to_cart_all_selected {
  background: #ffffff;
  padding: 13px 15px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 400;
  color: #333;
  font-family: -webkit-body;
  border: 1px solid var(--smart-border-primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.smart_border_wrapper .all_check_header_footer .button.add_to_cart_all_selected:hover {
  color: #000000;
}

.smart_border_wrapper .all_check_header_footer.all_check_header>span {
  background: #ffffff;
  display: flex;
  padding: 7px;
  border: 1px solid var(--smart-border-primary);
  justify-content: center;
  align-items: center;
  color: #212f52;
  border-radius: 3px;
  padding: 10px 15px;
}

.smart_border_wrapper table span.wpt-pro-tag-on-sale {
  display: inline-block;
  padding: 2px;
  border: 1px solid var(--smart-border-primary);
  background: var(--smart-border-primary);
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  font-size: 14px;
}

.smart_border_wrapper .all_check_header_footer input[type=checkbox]+label,
.smart_border_wrapper button.add_to_cart_all_selected {
  font-size: 14px;
}

.smart_border_wrapper .all_check_header_footer.all_check_header>span:hover {
  color: var(--smart-border-primary);
}

/*=========Pagination============*/

.smart_border_wrapper .wpt_table_pagination span.page-numbers.current,
.smart_border_wrapper .wpt_table_pagination a.page-numbers.current {
  background-color: var(--smart-border-primary);
  color: #ffff;
  border: 1px solid var(--smart-border-primary);
  font-weight: bold;
  font-size: var(--smart-font-size);
}

.smart_border_wrapper .wpt_table_pagination a.page-numbers,
.smart_border_wrapper .wpt_table_pagination span.page-numbers {
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid var(--smart-border-primary);
  margin: 0px;
  display: inline-block;
  cursor: pointer;
  font-size: var(--smart-font-size);
  border-radius: 3px;
}

.smart_border_wrapper .wpt_table_pagination a.page-numbers:hover,
.smart_border_wrapper .wpt_table_pagination a.page-numbers:focus,
.smart_border_wrapper .wpt_table_pagination span.page-numbers:hover,
.smart_border_wrapper .wpt_table_pagination span.page-numbers:focus {
  background: var(--smart-border-primary);
  color: #fff;
}

.smart_border_wrapper .wpt_product_table tr>th {
  background: transparent;
  border-bottom: 1px solid #111;
  color: #777;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.72px;
  font-weight: 700;
  font-size: 14px;
  border-top: none;
  border-left: none;
  border-right: none; 
}

.smart_border_wrapper tbody tr td {
  border: 1px solid #F6F6F6;
}

.smart_border_wrapper .custom_table>tbody>tr:nth-child(2n+2)>td {
  background: #f5f5f5;
  background-color: #f5f5f5;
}

body.wpt_table_body .smart_border_wrapper table.smart_border_table tbody tr.wpt_row>td {
  border-color: var(--smart-body-border-color);
  border-left-width: 1px;
  border-left-style: solid;
  color: #000;
  font-size: 16px;
  padding: 12px 20px;
  background: transparent;
}

/* fatima  */
body.wpt_table_body .smart_border_wrapper table tbody tr.wpt_row>td a.wpt_product_title_in_td {
  color: var(--blue-border-text-color);
  font-weight: 700;
  text-decoration: none !important;
  font-size: 16px;
  line-height: 28px;
  background: transparent;
  margin-bottom: 5px;
}

body.wpt_table_body .smart_border_wrapper table tbody tr.wpt_row>td .product_description {
  color: #6d6d6d;
  font-weight: 400;
  text-decoration: none !important;
  font-size: 14px;
  background: transparent;
  margin-right: 35px;
}


.smart_border_wrapper th.wpt_check label {
  margin-left: -5px;
}
body.wpt_table_body .smart_border_wrapper .custom_table thead .wpt_table_header_row th {
  white-space: nowrap;
}
/*=========Search Box==========*/
.smart_border_wrapper .search_single .query_box_direct_value,
.smart_border_wrapper .instance_search_input {
  width: 100%;
  border-radius: 4px;
  padding: 6px 5px 5px 5px;
  border: 1px solid var(--smart-border-primary);
  padding: 12px;
  height: 45px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 14px;
}

.smart_border_wrapper a:focus,
.smart_border_wrapper input:focus,
.smart_border_wrapper textarea:focus,
.smart_border_wrapper button:focus {
  outline: 1px solid transparent;
  box-shadow: 0 0 5px #ccc !important;
}

.smart_border_wrapper .search_single_column {
  display: block;
  width: 100%;
  margin-right: 10px;
}

.smart_border_wrapper .search_single_column input {
  height: 45px;
}

.smart_border_wrapper .wpt_search_box .search_box_wrapper {
  position: relative;
  text-align: left;
}

.smart_border_wrapper h3.search_box_label {
  text-align: left;
  margin-bottom: 15px;
}

.smart_border_wrapper h3.search_box_label.wpt_product_table_wrapper div.tables_cart_message_box div.widget_shopping_cart_content li.woocommerce-mini-cart-item.mini_cart_item * {
  font-size: var(--smart-font-size);
}

.smart_border_wrapper .select2-container .select2-selection--multiple,
.smart_border_wrapper .select2-container--default .select2-selection--single {
  border: 1px solid var(--smart-light-border);
}

.smart_border_wrapper .select2-container .select2-selection--multiple {
  height: 42px;
}

.smart_border_wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 15px;
}

/*=========Qty===========*/
.smart_border_wrapper .quantity .qty {
  width: 4.5em;
  text-align: center;
  border-radius: 3px;
  height: 40px;
  border: 1px solid #E1E1E1;
  color: #141618;
  padding: 0 5px;
  background: #fff;
  box-shadow: inset 0 1px 2px rgb(0, 0, 0, 0.1);
}

.smart_border_wrapper input[type=number]::-webkit-inner-spin-button,
.smart_border_wrapper input[type=number]::-webkit-outer-spin-button {
  opacity: 0.7;
}

/*Cart*/
.smart_border_wrapper.wpt_product_table_wrapper div.tables_cart_message_box div.widget_shopping_cart_content li.woocommerce-mini-cart-item.mini_cart_item {
  color: #141618;
  font-size: var(--smart-font-size);
  margin-bottom: 10px;
}

.smart_border_wrapper ul.woocommerce-mini-cart li a {
  color: #141618;
  font-size: var(--smart-font-size);
}

.smart_border_wrapper .td_or_cell.wpt_check {
  display: table-cell !important
}

.smart_border_wrapper .wpt_varition_section.variations {
  text-align: right;
}

/* .smart_border_wrapper tbody tr a.button,
.smart_border_wrapper tbody tr a.button.adding,
.smart_border_wrapper tbody tr a.button.alt.wc-variation-selection-needed,
.smart_border_wrapper tbody tr a.button.adding.wc-variation-selection-needed,
.smart_border_wrapper tbody tr a.button.disabled,
.smart_border_wrapper tbody tr a.button.alt.disabled {
  background: var(--smart-border-primary);
  border: 1px solid var(--smart-light-border);
  color: #fff;
} */
.smart_border_wrapper tbody tr a.button,
.smart_border_wrapper tbody tr a.button.adding,
.smart_border_wrapper tbody tr a.button.alt.wc-variation-selection-needed,
.smart_border_wrapper tbody tr a.button.adding.wc-variation-selection-needed,
.smart_border_wrapper tbody tr a.button.disabled,
.smart_border_wrapper tbody tr a.button.alt.disabled {
  padding: 8px 22px;
  background: var(--smart-border-primary);
  color: #fff !important;
  font-size: 14px;
  border-radius: 0px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  text-decoration: none;
  border: 1px solid var(--smart-border-primary);
  white-space: nowrap;

}