
.wpt-cart:before { content: '\e800'; } /* '' */
.wpt-basket:before { content: '\e801'; } /* '' */
.wpt-bag:before { content: '\e802'; } /* '' */
.wpt-basket-1:before { content: '\e803'; } /* '' */
.wpt-basket-2:before { content: '\e804'; } /* '' */
.wpt-basket-alt:before { content: '\e805'; } /* '' */
.wpt-basket-3:before { content: '\e806'; } /* '' */
.wpt-grid:before { content: '\e807'; } /* '' */
.wpt-gift:before { content: '\e808'; } /* '' */
.wpt-th-large-outline:before { content: '\e809'; } /* '' */
.wpt-th-large:before { content: '\e80a'; } /* '' */
.wpt-th:before { content: '\e80b'; } /* '' */
.wpt-th-1:before { content: '\e80c'; } /* '' */
.wpt-th-outline:before { content: '\e80d'; } /* '' */
.wpt-th-2:before { content: '\e80e'; } /* '' */
.wpt-th-large-1:before { content: '\e80f'; } /* '' */
.wpt-picture:before { content: '\e810'; } /* '' */
.wpt-ok:before { content: '\e811'; } /* '' */
.wpt-th-large-2:before { content: '\e812'; } /* '' */
.wpt-cancel-circled:before { content: '\e813'; } /* '' */
.wpt-cancel-circled-outline:before { content: '\e814'; } /* '' */
.wpt-heart:before { content: '\e815'; } /* '' */
.wpt-heart-filled:before { content: '\e816'; } /* '' */
.wpt-star-filled:before { content: '\e817'; } /* '' */
.wpt-thumbs-up:before { content: '\e818'; } /* '' */
.wpt-heart-1:before { content: '\e819'; } /* '' */
.wpt-photo:before { content: '\e81a'; } /* '' */
.wpt-note:before { content: '\e81b'; } /* '' */
.wpt-ok-circle:before { content: '\e81c'; } /* '' */
.wpt-left-open:before { content: '\e81d'; } /* '' */
.wpt-right-open:before { content: '\e81e'; } /* '' */
.wpt-spin1:before { content: '\e830'; } /* '' */
.wpt-spin2:before { content: '\e831'; } /* '' */
.wpt-spin3:before { content: '\e832'; } /* '' */
.wpt-spin4:before { content: '\e834'; } /* '' */
.wpt-spin5:before { content: '\e838'; } /* '' */
.wpt-spin6:before { content: '\e839'; } /* '' */
.wpt-table:before { content: '\f0ce'; } /* '' */
.wpt-desktop:before { content: '\f108'; } /* '' */
.wpt-laptop:before { content: '\f109'; } /* '' */
.wpt-tablet:before { content: '\f10a'; } /* '' */
.wpt-mobile:before { content: '\f10b'; } /* '' */
.wpt-cart-plus:before { content: '\f217'; } /* '' */
.wpt-cart-arrow-down:before { content: '\f218'; } /* '' */
