
.icon-cart:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-bag:before { content: '\e802'; } /* '' */
.icon-basket-1:before { content: '\e803'; } /* '' */
.icon-basket-2:before { content: '\e804'; } /* '' */
.icon-basket-alt:before { content: '\e805'; } /* '' */
.icon-basket-3:before { content: '\e806'; } /* '' */
.icon-grid:before { content: '\e807'; } /* '' */
.icon-gift:before { content: '\e808'; } /* '' */
.icon-th-large-outline:before { content: '\e809'; } /* '' */
.icon-th-large:before { content: '\e80a'; } /* '' */
.icon-th:before { content: '\e80b'; } /* '' */
.icon-th-1:before { content: '\e80c'; } /* '' */
.icon-th-outline:before { content: '\e80d'; } /* '' */
.icon-th-2:before { content: '\e80e'; } /* '' */
.icon-th-large-1:before { content: '\e80f'; } /* '' */
.icon-picture:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-th-large-2:before { content: '\e812'; } /* '' */
.icon-cancel-circled:before { content: '\e813'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e814'; } /* '' */
.icon-heart:before { content: '\e815'; } /* '' */
.icon-heart-filled:before { content: '\e816'; } /* '' */
.icon-star-filled:before { content: '\e817'; } /* '' */
.icon-thumbs-up:before { content: '\e818'; } /* '' */
.icon-heart-1:before { content: '\e819'; } /* '' */
.icon-photo:before { content: '\e81a'; } /* '' */
.icon-note:before { content: '\e81b'; } /* '' */
.icon-ok-circle:before { content: '\e81c'; } /* '' */
.icon-left-open:before { content: '\e81d'; } /* '' */
.icon-right-open:before { content: '\e81e'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
