@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?25016623');
  src: url('../font/fontello.eot?25016623#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?25016623') format('woff2'),
       url('../font/fontello.woff?25016623') format('woff'),
       url('../font/fontello.ttf?25016623') format('truetype'),
       url('../font/fontello.svg?25016623#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?25016623#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cart:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-bag:before { content: '\e802'; } /* '' */
.icon-basket-1:before { content: '\e803'; } /* '' */
.icon-basket-2:before { content: '\e804'; } /* '' */
.icon-basket-alt:before { content: '\e805'; } /* '' */
.icon-basket-3:before { content: '\e806'; } /* '' */
.icon-grid:before { content: '\e807'; } /* '' */
.icon-gift:before { content: '\e808'; } /* '' */
.icon-th-large-outline:before { content: '\e809'; } /* '' */
.icon-th-large:before { content: '\e80a'; } /* '' */
.icon-th:before { content: '\e80b'; } /* '' */
.icon-th-1:before { content: '\e80c'; } /* '' */
.icon-th-outline:before { content: '\e80d'; } /* '' */
.icon-th-2:before { content: '\e80e'; } /* '' */
.icon-th-large-1:before { content: '\e80f'; } /* '' */
.icon-picture:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-th-large-2:before { content: '\e812'; } /* '' */
.icon-cancel-circled:before { content: '\e813'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e814'; } /* '' */
.icon-heart:before { content: '\e815'; } /* '' */
.icon-heart-filled:before { content: '\e816'; } /* '' */
.icon-star-filled:before { content: '\e817'; } /* '' */
.icon-thumbs-up:before { content: '\e818'; } /* '' */
.icon-heart-1:before { content: '\e819'; } /* '' */
.icon-photo:before { content: '\e81a'; } /* '' */
.icon-note:before { content: '\e81b'; } /* '' */
.icon-ok-circle:before { content: '\e81c'; } /* '' */
.icon-left-open:before { content: '\e81d'; } /* '' */
.icon-right-open:before { content: '\e81e'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
