@font-face {
  font-family: 'wptfontelo';
  src: url('../font/wptfontelo.eot?99033782');
  src: url('../font/wptfontelo.eot?99033782#iefix') format('embedded-opentype'),
       url('../font/wptfontelo.woff2?99033782') format('woff2'),
       url('../font/wptfontelo.woff?99033782') format('woff'),
       url('../font/wptfontelo.ttf?99033782') format('truetype'),
       url('../font/wptfontelo.svg?99033782#wptfontelo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wptfontelo';
    src: url('../font/wptfontelo.svg?99033782#wptfontelo') format('svg');
  }
}
*/
[class^="wpt-"]:before, [class*=" wpt-"]:before {
  font-family: "wptfontelo";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.wpt-note-music:before { content: '\e7b4'; } /* '' */
.wpt-cart:before { content: '\e800'; } /* '' */
.wpt-basket:before { content: '\e801'; } /* '' */
.wpt-bag:before { content: '\e802'; } /* '' */
.wpt-basket-1:before { content: '\e803'; } /* '' */
.wpt-basket-2:before { content: '\e804'; } /* '' */
.wpt-basket-alt:before { content: '\e805'; } /* '' */
.wpt-basket-3:before { content: '\e806'; } /* '' */
.wpt-grid:before { content: '\e807'; } /* '' */
.wpt-gift:before { content: '\e808'; } /* '' */
.wpt-th-large-outline:before { content: '\e809'; } /* '' */
.wpt-th-large:before { content: '\e80a'; } /* '' */
.wpt-th:before { content: '\e80b'; } /* '' */
.wpt-th-1:before { content: '\e80c'; } /* '' */
.wpt-th-outline:before { content: '\e80d'; } /* '' */
.wpt-th-2:before { content: '\e80e'; } /* '' */
.wpt-th-large-1:before { content: '\e80f'; } /* '' */
.wpt-picture:before { content: '\e810'; } /* '' */
.wpt-ok:before { content: '\e811'; } /* '' */
.wpt-th-large-2:before { content: '\e812'; } /* '' */
.wpt-cancel-circled:before { content: '\e813'; } /* '' */
.wpt-cancel-circled-outline:before { content: '\e814'; } /* '' */
.wpt-heart:before { content: '\e815'; } /* '' */
.wpt-heart-filled:before { content: '\e816'; } /* '' */
.wpt-star-filled:before { content: '\e817'; } /* '' */
.wpt-thumbs-up:before { content: '\e818'; } /* '' */
.wpt-heart-1:before { content: '\e819'; } /* '' */
.wpt-photo:before { content: '\e81a'; } /* '' */
.wpt-note:before { content: '\e81b'; } /* '' */
.wpt-ok-circle:before { content: '\e81c'; } /* '' */
.wpt-left-open:before { content: '\e81d'; } /* '' */
.wpt-right-open:before { content: '\e81e'; } /* '' */
.wpt-expand-collapse:before { content: '\e81f'; } /* '' */
.wpt-trash-empty:before { content: '\e820'; } /* '' */
.wpt-trash:before { content: '\e821'; } /* '' */
.wpt-down-open:before { content: '\e822'; } /* '' */
.wpt-up-open:before { content: '\e823'; } /* '' */
.wpt-up-open-mini:before { content: '\e824'; } /* '' */
.wpt-down-open-mini:before { content: '\e825'; } /* '' */
.wpt-dot-3:before { content: '\e826'; } /* '' */
.wpt-dot-2:before { content: '\e827'; } /* '' */
.wpt-arrows-cw-outline:before { content: '\e828'; } /* '' */
.wpt-arrows-cw:before { content: '\e829'; } /* '' */
.wpt-help-circled-alt:before { content: '\e82a'; } /* '' */
.wpt-help-circled:before { content: '\e82b'; } /* '' */
.wpt-info-outline:before { content: '\e82c'; } /* '' */
.wpt-info-circled:before { content: '\e82d'; } /* '' */
.wpt-plus:before { content: '\e82e'; } /* '' */
.wpt-plus-circle:before { content: '\e82f'; } /* '' */
.wpt-spin1:before { content: '\e830'; } /* '' */
.wpt-spin2:before { content: '\e831'; } /* '' */
.wpt-spin3:before { content: '\e832'; } /* '' */
.wpt-floppy:before { content: '\e833'; } /* '' */
.wpt-spin4:before { content: '\e834'; } /* '' */
.wpt-floppy-1:before { content: '\e835'; } /* '' */
.wpt-flow-merge:before { content: '\e836'; } /* '' */
.wpt-pencil:before { content: '\e837'; } /* '' */
.wpt-spin5:before { content: '\e838'; } /* '' */
.wpt-spin6:before { content: '\e839'; } /* '' */
.wpt-doc-text-inv:before { content: '\e83a'; } /* '' */
.wpt-link:before { content: '\e83b'; } /* '' */
.wpt-home:before { content: '\e83c'; } /* '' */
.wpt-user:before { content: '\e83d'; } /* '' */
.wpt-twitter:before { content: '\e83e'; } /* '' */
.wpt-wordpress:before { content: '\e83f'; } /* '' */
.wpt-youtube:before { content: '\e840'; } /* '' */
.wpt-videocam:before { content: '\e841'; } /* '' */
.wpt-arrow-combo:before { content: '\e842'; } /* '' */
.wpt-search:before { content: '\e843'; } /* '' */
.wpt-music:before { content: '\e844'; } /* '' */
.wpt-search-1:before { content: '\e845'; } /* '' */
.wpt-search-2:before { content: '\e846'; } /* '' */
.wpt-home-1:before { content: '\e847'; } /* '' */
.wpt-sort-alphabet:before { content: '\e848'; } /* '' */
.wpt-cog-alt:before { content: '\e849'; } /* '' */
.wpt-cog:before { content: '\e84a'; } /* '' */
.wpt-feather:before { content: '\e84b'; } /* '' */
.wpt-down-dir:before { content: '\e84c'; } /* '' */
.wpt-up-dir:before { content: '\e84d'; } /* '' */
.wpt-down-dir-1:before { content: '\e84e'; } /* '' */
.wpt-up-dir-1:before { content: '\e84f'; } /* '' */
.wpt-globe-inv:before { content: '\f019'; } /* '' */
.wpt-linkedin:before { content: '\f05c'; } /* '' */
.wpt-ok-circled:before { content: '\f06d'; } /* '' */
.wpt-github-circled:before { content: '\f09b'; } /* '' */
.wpt-table:before { content: '\f0ce'; } /* '' */
.wpt-desktop:before { content: '\f108'; } /* '' */
.wpt-laptop:before { content: '\f109'; } /* '' */
.wpt-tablet:before { content: '\f10a'; } /* '' */
.wpt-mobile:before { content: '\f10b'; } /* '' */
.wpt-github:before { content: '\f113'; } /* '' */
.wpt-mic:before { content: '\f130'; } /* '' */
.wpt-doc-sheet:before { content: '\f15c'; } /* '' */
.wpt-youtube-play:before { content: '\f16a'; } /* '' */
.wpt-file-pdf:before { content: '\f1c1'; } /* '' */
.wpt-file-excel:before { content: '\f1c3'; } /* '' */
.wpt-plug:before { content: '\f1e6'; } /* '' */
.wpt-brush:before { content: '\f1fc'; } /* '' */
.wpt-cart-plus:before { content: '\f217'; } /* '' */
.wpt-cart-arrow-down:before { content: '\f218'; } /* '' */
.wpt-facebook-official:before { content: '\f230'; } /* '' */
